
#wrap {min-height:100vh;}
//공통 스타일
.container {max-width:1300px;margin:auto; 
  @include maxWidth(1260px){
    margin-right:30px;margin-left:30px;
  }
 @include maxWidth(720px){
    margin-right:13px;margin-left:13px;
  }
}

.skip_navi {position:absolute; z-index:9999; width:100%; left:0; top:0; text-align:center;
	a{display:block; position:absolute; left:0; top:-9999px; z-index:1; width:100%; height:40px; line-height:40px; background-color:#333; color:#fff; font-size:20px; font-weight:700;
		&:hover, &:focus{top:0;}
	}
}


/*헤더*/
.header{$headH:80px;position:absolute; top: 0; left: 0; width:100%;  z-index: 100;overflow-y:hidden;transition:border-radius 0.1s;/* box-shadow:0 0 10px rgba(0,0,0,0.1);  */
  /* &.active {border-radius:0 0 80px 0;transition:border-radius 0.1s;
    &:before {content:'';width:100%;height:1px;background-color:#ececec;position:absolute;left:0;top:100px;display:block;z-index:11;}
  } */
  .hd_top { @include clear; background-color: #476dc3; color: #fff; height: 52px;
      ul{float: left;margin-left: 80px;
          li{display: inline-block; vertical-align: middle;position: relative;
            a{line-height: 52px; padding: 0 45px; font-weight: 300;} 
            &:before{content: ""; display: block; width: 2px; height: 15px; background: #dbdbdb; position: absolute; top: 56%; transform: translateY(-60%); left: -2px;}
            &:first-child{
              a{padding-left: 0;}
              &:before{display: none;}
            }
            &:first-child{padding-right: 0;}
          }
      }
      .util{ float: right; @include clear; margin-right: 80px;
        li{display: inline-block; vertical-align: middle; position: relative;
          a{line-height: 52px; padding: 0 20px;font-weight: 300;} 
        }
        .btn_sitemap_open{background:url(../images/sitemap_btn.png) no-repeat center; width: 52px; height: 52px; display:inline-block;vertical-align:middle;}
        .sitemap{float: right; 
            #gnb2 {display:none;overflow-y:auto;position:fixed;left:0;top:0;width:100%;height:100%;z-index:10;background-color:#ccc;padding-top:50px;
                .dep1{font-size:2rem;
                    > li {margin-bottom:20px;}
                }
                .dep2 {@include ftItem(4,0);font-size:1.5rem; }
                .dep3 {font-size:1rem;}
                .btn_sitemap_close {position:absolute;right:0;top:0;}
            }
        }
      }
  }
 
  .gnb{@include clear;text-align:center;position:relative;font-size:0;z-index:12; margin-left:80px; margin-right: 230px;
      .logo{float: left;
          a{width:289px;background: url(../images/logo.png) no-repeat center left/ auto 40px; height:70px; line-height:70px;display:block;
          }
      } 
      >ul{font-size:22px; @include clear; display:inline-block; width: calc(100% - 289px);
          >li{float:left; width: 20%;
              &:hover{
                  >a{color:#dd373b;} 
              }
              &.active{
                  a {position:relative;}
                  >a::before{
                     position:absolute;left:50%;bottom:-30px;width:100%;transform:translateX(-50%);height:2px;background-color:#dd373b;content:'';z-index:2;
                  }
                  .dep2_wrap{visibility:visible;z-index: 3;}
              }
              &:first-child{
                  a{padding-left: 0;}
              }

              >a{font-weight: 400; position: relative;line-height: 70px; }
              }
      }
    .dep2_wrap {display:block; width:100%;position:absolute;top:100%; left:0; z-index:1; visibility: hidden;background-color:#fff;
      .container{position: relative; @include clear;
        > div{background: #fff;width:215px;position: absolute; top: 0; left: 0; padding: 10px 50px 40px 0; text-align: right;            
            h2{font-weight: 500; font-size: 24px;}
        }
        >ul{width:calc(100% - 215px);min-height:120px;  padding-left: 50px; background: #fff; @include ftItem(3,30); margin: 30px 0 30px 215px; border-left: 1px solid #cecfd1;
            >li{transition: 0.3s; text-align: left;  margin-bottom: 18px;
                &:hover{
                    > a{border-color: #23408f; color: #23408f; background-image:url(../images/icon_dep2_on.png);}
                }
                >a{ line-height:1.2em; font-size: 16px; padding: 12px 20px; transition: 0.3s; display: block;
                    font-weight: 500;  border: 1px solid #cecfd1; border-radius: 4px; transition: 0.3s; background: url(../images/icon_dep2.png) no-repeat right 21px center; 
                }
                .dep3{margin-top: 10px;
                    li{padding:0 20px; 
                        &:hover{
                            a{color: #23408f; 
                                span{
                                    &:after{
                                        content: ""; width: 100%; height: 6px; border-radius: 3px; background: #ffe7d0; position: absolute; bottom: 0; left: 0; 
                                    }
                                }
                            }
                        }
                        a{display:block;font-size: 15px; padding: 4px 0 4px 14px; position: relative;
                          span{position: relative; z-index: 0;
                            &:after{content:""; width: 0; transition: 0.4s; z-index: -1;}
                          }
                            &:before{content: ""; display: block; width: 4px; height: 4px; border-radius: 50%; background: #3667c7; position: absolute; top: 12px; left: 0;}
                        }
                    }
                }
              
            }
        }
      }
    }
  }
  @include maxWidth($pc){
      .gnb{         
          .dep2_wrap{
              .container{
                  > div{width: 180px;
                    img{width: 180px;}
                }
                  > ul{width: calc(100% - 180px); margin-left: 180px;}
              }
          }
      }
  }
  @include maxWidth($tab){
    &.active {border-radius:0;
      &:before {top:82px;}
    }
    .hd_top{display: none;}
    .gnb{
        .logo{
            a{padding: 16px 0;}
        }
        >ul{display: none;}
        .btn_sitemap_open{float:right; display: block; width: 50px; height: 70px; background: url(../images/common/icon_hambug.png) no-repeat center right 30px auto;}
    }
  }
  @include maxWidth($m720){
    &.active {
      &:before {top:55px;}
    }
    height:55px;
    .gnb{
        .logo{
            a{width:155px;background-size:155px auto;background-image:url(../images/img_logo_m.png);height:55px;padding:0;}
        }
        .util {padding-top:0px;
        .search_box {top:55px;}
        .btn_search_open {width:55px;height:55px;background-size:20px auto;
          &.active{background-size:16px auto;}
        }
        .btn_sitemap_open{width:55px;height:55px;background-size:22px auto; margin: 0;}
      }
    }
  }
}

.m_gnb{display:none;
  // @media screen and (min-width:1081px){
  color:#404650; position:fixed; width:100%; height:100%; left:0; top:0; background: #fff; z-index:100; overflow-y:hidden; background: rgba(0,0,0,0.6);
  >div{margin-left: 80px; background: #fff; min-height: 100%;
    .util{padding: 20px 25px; @include clear; background: #eee;
        ol{@include clear; float: left; 
            li{float: left; position: relative; margin-right:7px;
                a{ display:inline-block; line-height:30px; font-size: 13px; padding: 0 40px 0 15px;color:#fff; background: #000 url(../images/m_join.png) no-repeat right 15px center / 9px auto; border-radius:30px; box-shadow:0 3px 6px rgba(0,0,0,0.33);
                }
                &:last-child{
                    a{background-image: url(../images/m_login.png);}
                }
            }
        }
        .btn_sitemap_close{float: right; width: 30px; height: 30px; background: url(../images/m_close.png) no-repeat center / 15px auto;}       
    // }
    }
    // @media screen and (max-width:1080px) {
    > ul {width:100%;
      > li {
        a {display:block;color:#404650;background:url(../images/arrow_gnb_dep1_off.png) no-repeat right 30px center/7px auto; border-bottom: 1px solid #ddd;}
        >a {font-size:18px;line-height:52px;background-color:#fff;font-weight:500;padding:0 40px 0 30px;}
        .dep2_wrap {display:none;background-color:#f6f7fc;
          > .container {margin:0;max-width:none; padding: 0 20px;
            > div {display:none;}
            > ul {
              > li {                
                > a {display:block;line-height:45px;font-size:15px; padding-left: 10px; background-position: right 10px center;}
                &.active2 {
                  > a {background-image:url(../images/arrow_gnb_dep3_off.png); background-size:auto 7px;}
                }
              }
              .dep3 {display:none; padding: 18px 0; border-bottom: 1px solid #ddd;
                > li {
                  > a {display:block; line-height:32px; color:#656d7b; font-size:14px; border-bottom: none; background:none; font-weight: 300; padding: 0 0 0 20px;
                    &:before {content:''; display:inline-block; width:4px; height:4px; background-color:#b3c1d8; margin-right:7px; vertical-align:3px;}
                  }
                }
              }
            }
          }
        }
        &.active2 {
          > a {background-image:url(../images/arrow_gnb_dep3_off.png);background-size:auto 7px;}
        }
        &.active {
          > a {background-color:#23408f;color:#fff;background-image:url(../images/arrow_gnb_dep1_on.png);background-size:auto 7px;}
            .dep2_wrap {
          > .container {margin:0;}
          }
        }
      }
    }
  }
}




#contents{/* padding-top: 52px; */ @include clear; position: relative;  
  @include maxWidth(1220px) {
    padding-top:82px;
  }
   @include maxWidth(1080px) {
    padding-top:70px;
  }
  @include maxWidth($m720) {
    padding-top:55px;
  }
}



/*푸터*/
.footer {
  .f_banner {@include clear;padding:60px 0;background: linear-gradient(45deg, #86aee5, #005db5);
    h2{ font-size: 28px; font-weight: 500; margin-bottom: 10px}
    .control {@include align(middle,19px);width:230px;height: 30px; float: left; text-align: right;
      button {$btnSize : 46px; width:$btnSize;height:$btnSize;overflow:hidden;text-indent:$btnSize; padding: 14px;  display: inline-block; margin-right: 6px;
          &.next {background: #e61874 url(../images/f_banner_next.png) no-repeat center center; margin-right: 0;}
          &.prev {background: #fff url(../images/f_banner_prev.png) no-repeat center center;}
          &.pause {border: 1px solid #000; background: url(../images/ft_banner_stop.png) no-repeat center center; }
/*           &.play {background:url(../images/btn_fb_play.png) no-repeat center center; border-radius: 0 0 5px 5px;}    */   
      }
    } 
    .slide {height: 30px; float:left;width:calc(100% - 230px); margin: 5px 0; float: right;
      .item {float:left;padding-left: 15px;padding-right: 35px; font-size: 22px; position: relative;
        &::after{display: block; position: absolute; background: url(../images/f_banner_slide.png) no-repeat; content: '';width: 35px;height: 53px;right: 0;top: 0;}
        &:hover{color: #fff; font-size: 26px; font-weight: 600;}
      }
    }
  }
  .f_nav{ background-color: #333333; padding-top: 40px; padding-bottom: 50px;
    .fnb{background: url(../images/f_logo.png) no-repeat top left;padding-top: 80px; @include clear; margin-bottom: 50px; float: left;
      li{ float: left;position: relative; 
        a{color: #fff; padding: 0 22px; font-size: 17px;}
        &::before{content: ''; display: block; right: 0; top: 3px; height: 20px; width: 1px; background-color: #fff;position: absolute;}
        &:last-child{
          &::before{display: none;}
        }
        &:first-child{
          a{padding-left: 0;}
        }
      }
    }
    .sns{float: right;@include clear;
      li{float: left;
        a{padding: 0 10px;}
        &:last-child{
          a{padding-right: 0;}
        }
      }
    }
    .addr{clear: both; display: block;
      li{color: #aaaaaa;font-size: 15px;}
    }
  }
}


