#contents{
  .banner{
    .slide_box {position:relative; 
      .slide {
        .item { display:block;/*  height: 580px; */background-repeat:no-repeat;background-size:cover;background-position:center;
        }
      }
      .slide_btn{ position: absolute; left: 45%; top:31%; width: 100%; display: block;z-index:1; transform: translateX(-50%);
        .pagination_dot {text-align:center;  margin-right: 10px; display: inline-block; 
          li {float:left;font-size:1rem;margin:0 10px; 
            button {$dotSize : 20px; color: #fff; height: 36px; line-height: 36px;
                width:$dotSize;overflow:hidden; opacity: 0.5;}
            &.slick-active button { 
               opacity: 1;
            }
          }
        }
        .progress_bar { display: inline-block; width: 86px;max-width:200px;height: 2px;background: #eee; border-bottom: 2px solid #eee; margin: 14px 5px;
            .progress {
                width: 0%;
                height: 3px;
                background: rgb(75, 162, 254);
            }
        }
        .control { display: inline-block;
          :nth-child(n) {display:inline-block; font-size:1rem;margin:0 5px;vertical-align:top;}
          .btn {
              /* &.next,&.prev {position: absolute; bottom: 300%; right: 105px; background: #000 url('../images/banner_next.png') no-repeat center center; opacity: 40%;
                border-radius: 50px; width: 80px; height: 80px;
              }
              &.prev { position: absolute;left: 105px;
                background:#000 url('../images/banner_prev.png') no-repeat center center;
              } */
              &.pause {display: inline-block; background:url('../images/slide_pause.png') no-repeat center center;
                width: 9px; height: 12px; margin: -5px 0;
              }
              &.play {background:url('../images/slide_play.png') no-repeat center center;}
          }
        }
      }
      .slide_tit{ position: absolute; top: 18%; left: 45%;width:100%; transform:translateX(-50%); display: block; color: #fff; font-size: 60px; text-shadow: 0 0 20px rgba(0,0,0,0.4);font-weight: 100;line-height: 4rem;
        b{display: block; font-weight: 400;}
      }
      .weather{position: absolute;content: ''; display: block; right: 11%; top: 21%; transform:translateX(-50%); z-index: 1; color: #fff; 
        img{margin-top: -29px; margin-right: 30px;}
        >div{line-height: 3rem;
          strong{font-size: 30px;font-family:'Ddin';
            span{font-size: 85px;margin-right: 10px;letter-spacing: -5.5px;}
          }
        }
        
        em{display: block; margin-bottom: 10px;font-family:'Ddin'; font-size: 18px;}
        ul{ @include clear;
          li{float: left; padding-left: 10px;font-family:'Ddin'; 
            >span{color: $color1; margin-left: 10px;font-weight: 600;}
            &:first-child{position: relative;padding-right: 10px; padding-left: 0;
              ::after{content: ''; position: absolute; top: 0;  right: 0; display: block; height: 20px; width: 1px; background-color: #fff;}
            }
          }
        }
      }
      .slide_menu{ @include clear; margin: auto; position: absolute; bottom: 11%; left:24%;display: block;transform:translateX(-50%,-50%);
        li{float: left; margin: 0 20px;
          a{ padding: 50px 20px;  background-color: rgba( 0, 0, 0, 0.5 ); border-radius: 50%; width: 204px; height: 204px;
            img{display: block; margin: auto;}
            b{display: block; color: #fff; font-size: 22px; text-align: center; margin-top: 27px;}
          }
        }
      }
    }
    @include maxWidth(1080px){
      .slide_box {
        .slide_btn {
          .control {
            .btn {
              &.next {right:30px;}
              &.prev {left:30px;}
              &.next,&.prev {width:60px;height:60px;
                span {width:20px;background-size:20px auto;}
              }
            }
          }
        }
      }   
    }
    @include maxWidth($m720){
      .slide_box {
        .slide {
            .item {background-size:auto 300px;height:300px;
                      
            }          
        }
        .slide_btn {
          .pagination_dot {margin-right:0;}
          .control {
            .btn {vertical-align: top;
              &.next,&.prev {display:none !important;}
              &.btn.pause{margin-top: -10px;}
            }
          }
          .progress_bar{margin-top: 15px; vertical-align: top;}
        }
        >span{top:80px;font-size: 20px; text-shadow:none;
        b{font-size: 38px; line-height: 34px; margin-bottom:0px;margin-top:0px;}
          img {height: 25px;}
        }
      }
    }
  }
 
}
.board{ @include clear;padding: 90px 0;  background: #f5f5f5;
  .tab_box {$tabH:50px;position:relative; float: left; width: calc(100% - 680px); margin-right: 50px;
    > li {float:left;width:25%;
        > button {height:$tabH;width:100%;padding: 0 20px; font-size: 22px;padding-bottom: 20px;}
        > div {display:none;position:absolute;left:0;top:$tabH;width:100%;border-top: 1px solid #000;
          >ol{
            li{ @include clear; padding-left: 15px; padding-top: 33px; padding-bottom: 33px; border-bottom: 1px solid #b4b4b3;@include clear;
              div{width: calc(100% - 100px); float: left; padding-right: 60px;
                strong{display: block; font-size: 19px; font-weight: 500; margin-bottom: 15px; @include ell1;
                  b{font-size: 15px; margin-left: 5px;}
                }
                span{ color: #888; float: left;  @include ell2;  height: 48px;
                }
              }
              em{ color: #888; float: right; width: 100px; padding: 0 13px; font-weight: 500;line-height: 90px;}
              &:hover{ background-color: #fff;box-shadow:0 0 10px rgba(0,0,0,0.1); }
            }
          }
        }
        &.active { 
            > button { font-size: 26px; font-weight: 600;margin-bottom: -5px; position: relative;
              &::before{position: absolute; display: block; content: ''; background-color: #c50202; max-width: 132px; height: 8px; bottom: -1px; z-index: 1; left: 10px; width: 100%;}
            }
            > div {display:block;}
        }
    }
    + .tab_con {
      position:relative;
      > li {display:none;
        &.active {display:block;}
      }
    }
  }
  .banner2{width: 630px;float: right; overflow: hidden; position: relative;
    h2{font-size: 26px; font-weight: 600; margin-bottom: 13px;}
    >.control { position: absolute; right:0; top: 0; font-size: 0; line-height: 0; padding: 15px 0; 
      .pagination_num{padding: 5px 0; margin-right: 10px !important;}
      :nth-child(n) {display:inline-block !important; font-size:1rem; margin:0 5px; vertical-align:top;}
      .btn { 
        &.next {background:url('../images/banner2_next.png') no-repeat center ; width: 80px; height: 14px; }
        &.prev {background:url('../images/banner2_prev.png') no-repeat center ; width: 80px; height: 14px;}
        &.pause {background:url('../images/banner2_pause.png') no-repeat center ;
          width: 9px; height: 12px; 
        }
        &.play {background:url('../images/banner_play.png') no-repeat center center; }
        &.menu {background:url('../images/banner2_menu.png') no-repeat center; width: 10px; height: 10px; margin-top: 1px;}
      }
    }
    .slide_box {position:relative; 
      >.slide {
        .item { 
          >a{display: block; }
        }
      }
    }
    @include maxWidth($m720){border-radius: 0 15px 0 15px; margin-top: 20px;
  
      .slide_box {position:relative; 
        >.slide {
          .item { 
            >a{
              img{border-radius: 0 15px 0 15px;}
            }
          }
        }
        >.control {padding: 8px 20px 7px; border-radius: 5px 5px 0 0; color: #fff;
          .pagination_num{margin-right: 10px;padding-top:6px;}
            :nth-child(n) {font-size:13px;margin:0 4px;}
        }
      }
    }
  }
}


/* 문화공공체육시설 */
#MAIN_BRAND {padding-bottom:180px;}
#MAIN_BRAND .gu_link_hover a .gu_img_area{border: 0}
#MAIN_BRAND .list .tab_box {position:relative; left:50%; width:1280px; font-size:0; margin:35px 0 40px -640px; overflow:hidden;}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner {white-space: nowrap;}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner:after {content:""; position:absolute; top:0; left:0; width:100%; height:60px;}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner .slide_item {display: inline-block; width:447px !important; padding:0 18.5px; text-align: center; height:124px; line-height:124px;opacity:0.7; font-size: 28px; color: #000;}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner .slide_item.slick-current + .slide_item {opacity:1;}
#MAIN_BRAND .list .tab_box .btn_tabArrow {position:absolute; top:40px;}
#MAIN_BRAND .list .tab_box .btn_tabArrow_l {left:406px;}
#MAIN_BRAND .list .tab_box .btn_tabArrow_r {right:406px;}
#MAIN_BRAND .list .tab_box .count {width:100%; text-align: center; margin-top:20px;}
#MAIN_BRAND .list .tab_box .count > span {font-size:16px; color:#888888;}
#MAIN_BRAND .list .tab_box .count > span > span {color:#222;}
#MAIN_BRAND .list .tab_box .count > span > span.current {opacity:1;}
#MAIN_BRAND .list .list_box ul {font-size:0;border: 1px solid #e5e5e5; position:absolute;top:-9999px; display:none;}
#MAIN_BRAND .list .list_box ul.on { position:relative;top:0; display:block; }
#MAIN_BRAND .list .list_box ul li {position:relative; width:33.333%; display: inline-block; vertical-align:top;box-sizing: border-box;}
#MAIN_BRAND .list .list_box ul li > a {display: block;}
#MAIN_BRAND .list .list_box ul li > a:focus {border:1px dotted #000;}
#MAIN_BRAND .list .list_box ul li > a video {position:absolute; top:0; left:0; width:100%; height:100%;}
#MAIN_BRAND .list .list_box ul li img {width:100%;}
#MAIN_BRAND .list .list_box .info_box {background-color:#ffffff;}
#MAIN_BRAND .list .list_box .info_box.type_black {background-color:#111111;}
#MAIN_BRAND .list .list_box .info_box.type_black .copy_container .copy_inner {color:#fff;}
#MAIN_BRAND .list .list_box .info_box.type_black .copy_container .copy_inner .copy .desc {color:#999999; }
#MAIN_BRAND .list .list_box .info_box.type_black .copy_container .copy_inner .copy .btn_detail {color:#999;}
#MAIN_BRAND .list .list_box .info_box.type_black .copy_container .copy_inner .copy .btn_detail:after {background-color:#888;}
/********************** shinsegae brand in motion set *******************************/
#MAIN_BRAND .top_copy h2 {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .tab_box {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .tab_box .count {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .list_box ul li {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .btn_viewmore {transform:translate(0,100px); opacity:0;}
/* art & culture in motion play */
#MAIN_BRAND.on .top_copy h2 {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s;}
#MAIN_BRAND.on .list .tab_box {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s; transition-delay:0.1s;}
#MAIN_BRAND.on .list .tab_box .count {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s; transition-delay:0.2s;}
#MAIN_BRAND.on .list .list_box ul li {transform:translate(0,0); opacity:1; transition:transform 0.8s, opacity 0.8s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(1) {transition-delay:0.3s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(2) {transition-delay:0.4s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(3) {transition-delay:0.5s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(4) {transition-delay:0.6s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(5) {transition-delay:0.7s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(6) {transition-delay:0.8s;}
#MAIN_BRAND.on .list .btn_viewmore {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s; transition-delay:0.9s;}
