@charset "UTF-8";
/* eb-garamond-regular - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/eb-garamond-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/eb-garamond-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/eb-garamond-v15-latin-regular.woff2") format("woff2"), url("../fonts/eb-garamond-v15-latin-regular.woff") format("woff"), url("../fonts/eb-garamond-v15-latin-regular.ttf") format("truetype"), url("../fonts/eb-garamond-v15-latin-regular.svg#EBGaramond") format("svg"); /* Legacy iOS */
}
/* eb-garamond-500 - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eb-garamond-v15-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/eb-garamond-v15-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/eb-garamond-v15-latin-500.woff2") format("woff2"), url("../fonts/eb-garamond-v15-latin-500.woff") format("woff"), url("../fonts/eb-garamond-v15-latin-500.ttf") format("truetype"), url("../fonts/eb-garamond-v15-latin-500.svg#EBGaramond") format("svg"); /* Legacy iOS */
}
/* eb-garamond-600 - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/eb-garamond-v15-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/eb-garamond-v15-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/eb-garamond-v15-latin-600.woff2") format("woff2"), url("../fonts/eb-garamond-v15-latin-600.woff") format("woff"), url("../fonts/eb-garamond-v15-latin-600.ttf") format("truetype"), url("../fonts/eb-garamond-v15-latin-600.svg#EBGaramond") format("svg"); /* Legacy iOS */
}
/* eb-garamond-700 - latin */
@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/eb-garamond-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/eb-garamond-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/eb-garamond-v15-latin-700.woff2") format("woff2"), url("../fonts/eb-garamond-v15-latin-700.woff") format("woff"), url("../fonts/eb-garamond-v15-latin-700.ttf") format("truetype"), url("../fonts/eb-garamond-v15-latin-700.svg#EBGaramond") format("svg"); /* Legacy iOS */
}
/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v23-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-300.woff") format("woff"), url("../fonts/open-sans-v23-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-300italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/open-sans-v23-latin-300italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-300italic.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-300italic.woff") format("woff"), url("../fonts/open-sans-v23-latin-300italic.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-300italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v23-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-regular.woff") format("woff"), url("../fonts/open-sans-v23-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans-v23-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-italic.woff") format("woff"), url("../fonts/open-sans-v23-latin-italic.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v26-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v26-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v26-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v26-latin-regular.woff") format("woff"), url("../fonts/open-sans-v26-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v26-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/open-sans-v26-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v26-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v26-latin-500.woff2") format("woff2"), url("../fonts/open-sans-v26-latin-500.woff") format("woff"), url("../fonts/open-sans-v26-latin-500.ttf") format("truetype"), url("../fonts/open-sans-v26-latin-500.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans-v23-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-600.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-600.woff") format("woff"), url("../fonts/open-sans-v23-latin-600.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans-v23-latin-600italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-600italic.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-600italic.woff") format("woff"), url("../fonts/open-sans-v23-latin-600italic.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-600italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans-v23-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-700.woff") format("woff"), url("../fonts/open-sans-v23-latin-700.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans-v23-latin-700italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-700italic.woff") format("woff"), url("../fonts/open-sans-v23-latin-700italic.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-700italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans-v23-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-800.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-800.woff") format("woff"), url("../fonts/open-sans-v23-latin-800.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-800.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-800italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans-v23-latin-800italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v23-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v23-latin-800italic.woff2") format("woff2"), url("../fonts/open-sans-v23-latin-800italic.woff") format("woff"), url("../fonts/open-sans-v23-latin-800italic.ttf") format("truetype"), url("../fonts/open-sans-v23-latin-800italic.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* Noto Sans */
@font-face {
  font-family: "Noto Sans";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Light.eot");
  src: local(※), url("../fonts/NotoSansKR-Light.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/NotoSansKR-DemiLight.eot");
  src: local(※), url("../fonts/NotoSansKR-DemiLight.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-DemiLight.woff") format("woff"), url("../fonts/NotoSansKR-DemiLight.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../common/fonts/NotoSansKR-Regular.eot");
  src: local(※), url("../fonts/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Medium.eot");
  src: local(※), url("../fonts/NotoSansKR-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: local(※), url("../fonts/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}
/*본명조*/
@font-face {
  font-family: "NotoSerifKR";
  src: url("../fonts/NotoSerifKR.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*나눔명조*/
@font-face {
  font-family: "NanumMyeongjo";
  font-style: normal;
  font-weight: 400;
  src: local("※"), url("../fonts/NanumMyeongjoR.woff2") format("woff2"), url("../fonts/NanumMyeongjoR.woff") format("woff"), url("../fonts/NanumMyeongjoR.ttf") format("truetype"), url("../fonts/NanumMyeongjoR.otf") format("opentype"), url("../fonts/NanumMyeongjoR.eot") format("embedded-opentype");
}
@font-face {
  font-family: "NanumMyeongjo";
  font-style: normal;
  font-weight: 700;
  src: local("※"), url("../fonts/NanumMyeongjoB.woff2") format("woff2"), url("../fonts/NanumMyeongjoB.woff") format("woff"), url("../fonts/NanumMyeongjoB.ttf") format("truetype"), url("../fonts/NanumMyeongjoB.otf") format("opentype"), url("../fonts/NanumMyeongjoB.eot") format("embedded-opentype");
}
@font-face {
  font-family: "NanumMyeongjo";
  font-style: normal;
  font-weight: 900;
  src: local("※"), url("../fonts/NanumMyeongjoEB.woff2") format("woff2"), url("../fonts/NanumMyeongjoEB.woff") format("woff"), url("../fonts/NanumMyeongjoEB.ttf") format("truetype"), url("../fonts/NanumMyeongjoEB.otf") format("opentype"), url("../fonts/NanumMyeongjoEB.eot") format("embedded-opentype");
}
@font-face {
  font-family: "NanumMyeongjo";
  font-style: normal;
  font-weight: 900;
  src: local("※"), url("../fonts/NanumMyeongjoEB.woff2") format("woff2"), url("../fonts/DINMed.woff") format("woff"), url("../fonts/NanumMyeongjoEB.ttf") format("truetype"), url("../fonts/NanumMyeongjoEB.otf") format("opentype"), url("../fonts/NanumMyeongjoEB.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Ddin";
  font-style: normal;
  font-weight: 400;
  src: local("※"), url("../fonts/d-din.regular.woff") format("woff"), url("../fonts/d-din.regular.ttf") format("truetype"), url("../fonts/d-din.regular.otf") format("opentype"), url("../fonts/d-din.regular.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Ddin";
  font-style: normal;
  font-weight: 500;
  src: local("※"), url("../fonts/d-din.regular.woff") format("woff"), url("../fonts/d-din.regular.ttf") format("truetype"), url("../fonts/d-din.regular.otf") format("opentype"), url("../fonts/d-din.regular.eot") format("embedded-opentype");
}
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, ol, li, form, fieldset, legend, label, input, button, select, textarea, header, main, footer, section, article, aside, menu, nav, table, caption, tbody, tfoot, thead, tr, th, td, summary, figure, figcaption, hgroup {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.4;
  color: #222;
  font-family: "Noto Sans", "sans-serif";
  letter-spacing: -0.05em;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: normal;
}

ul, ol, li {
  list-style-type: none;
}

ul:after, ol:after, dl:after {
  display: block;
  clear: both;
  content: "";
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

p {
  max-height: 9999px;
}

address {
  font-style: normal;
}

button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}

caption, legend {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
}

.hide {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  position: absolute;
  left: 0;
  right: 0;
}

.clear {
  clear: both;
}

.br {
  display: block;
}

table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

select::-ms-expand {
  display: none;
}

input::-ms-check {
  display: none;
}

form {
  display: block;
  width: 100%;
}

input, select, textarea {
  padding: 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  display: block;
  border: 0;
  font-family: inherit;
}

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
#wrap {
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  margin: auto;
}
@media screen and (max-width: 1260px) {
  .container {
    margin-right: 30px;
    margin-left: 30px;
  }
}
@media screen and (max-width: 720px) {
  .container {
    margin-right: 13px;
    margin-left: 13px;
  }
}

.skip_navi {
  position: absolute;
  z-index: 9999;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
}
.skip_navi a {
  display: block;
  position: absolute;
  left: 0;
  top: -9999px;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.skip_navi a:hover, .skip_navi a:focus {
  top: 0;
}

/*헤더*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  transition: border-radius 0.1s; /* box-shadow:0 0 10px rgba(0,0,0,0.1);  */
  /* &.active {border-radius:0 0 80px 0;transition:border-radius 0.1s;
    &:before {content:'';width:100%;height:1px;background-color:#ececec;position:absolute;left:0;top:100px;display:block;z-index:11;}
  } */
}
.header .hd_top {
  background-color: #476dc3;
  color: #fff;
  height: 52px;
}
.header .hd_top:after {
  content: "";
  display: block;
  clear: both;
}
.header .hd_top ul {
  float: left;
  margin-left: 80px;
}
.header .hd_top ul li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.header .hd_top ul li a {
  line-height: 52px;
  padding: 0 45px;
  font-weight: 300;
}
.header .hd_top ul li:before {
  content: "";
  display: block;
  width: 2px;
  height: 15px;
  background: #dbdbdb;
  position: absolute;
  top: 56%;
  transform: translateY(-60%);
  left: -2px;
}
.header .hd_top ul li:first-child a {
  padding-left: 0;
}
.header .hd_top ul li:first-child:before {
  display: none;
}
.header .hd_top ul li:first-child {
  padding-right: 0;
}
.header .hd_top .util {
  float: right;
  margin-right: 80px;
}
.header .hd_top .util:after {
  content: "";
  display: block;
  clear: both;
}
.header .hd_top .util li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.header .hd_top .util li a {
  line-height: 52px;
  padding: 0 20px;
  font-weight: 300;
}
.header .hd_top .util .btn_sitemap_open {
  background: url(../images/sitemap_btn.png) no-repeat center;
  width: 52px;
  height: 52px;
  display: inline-block;
  vertical-align: middle;
}
.header .hd_top .util .sitemap {
  float: right;
}
.header .hd_top .util .sitemap #gnb2 {
  display: none;
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ccc;
  padding-top: 50px;
}
.header .hd_top .util .sitemap #gnb2 .dep1 {
  font-size: 2rem;
}
.header .hd_top .util .sitemap #gnb2 .dep1 > li {
  margin-bottom: 20px;
}
.header .hd_top .util .sitemap #gnb2 .dep2 {
  font-size: 1.5rem;
}
.header .hd_top .util .sitemap #gnb2 .dep2 > :nth-child(n) {
  float: left;
  width: calc(25% - 0px);
  margin-right: 0px;
}
.header .hd_top .util .sitemap #gnb2 .dep2 > :nth-of-type(4n) {
  margin-right: 0;
}
.header .hd_top .util .sitemap #gnb2 .dep2 > :not(:nth-of-type(4n + 1)) {
  clear: none;
}
.header .hd_top .util .sitemap #gnb2 .dep2 > :nth-of-type(4n + 1) {
  clear: both;
}
.header .hd_top .util .sitemap #gnb2 .dep3 {
  font-size: 1rem;
}
.header .hd_top .util .sitemap #gnb2 .btn_sitemap_close {
  position: absolute;
  right: 0;
  top: 0;
}
.header .gnb {
  text-align: center;
  position: relative;
  font-size: 0;
  z-index: 12;
  margin-left: 80px;
  margin-right: 230px;
}
.header .gnb:after {
  content: "";
  display: block;
  clear: both;
}
.header .gnb .logo {
  float: left;
}
.header .gnb .logo a {
  width: 289px;
  background: url(../images/logo.png) no-repeat center left/auto 40px;
  height: 70px;
  line-height: 70px;
  display: block;
}
.header .gnb > ul {
  font-size: 22px;
  display: inline-block;
  width: calc(100% - 289px);
}
.header .gnb > ul:after {
  content: "";
  display: block;
  clear: both;
}
.header .gnb > ul > li {
  float: left;
  width: 20%;
}
.header .gnb > ul > li:hover > a {
  color: #dd373b;
}
.header .gnb > ul > li.active a {
  position: relative;
}
.header .gnb > ul > li.active > a::before {
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 100%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #dd373b;
  content: "";
  z-index: 2;
}
.header .gnb > ul > li.active .dep2_wrap {
  visibility: visible;
  z-index: 3;
}
.header .gnb > ul > li:first-child a {
  padding-left: 0;
}
.header .gnb > ul > li > a {
  font-weight: 400;
  position: relative;
  line-height: 70px;
}
.header .gnb .dep2_wrap {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  visibility: hidden;
  background-color: #fff;
}
.header .gnb .dep2_wrap .container {
  position: relative;
}
.header .gnb .dep2_wrap .container:after {
  content: "";
  display: block;
  clear: both;
}
.header .gnb .dep2_wrap .container > div {
  background: #fff;
  width: 215px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 50px 40px 0;
  text-align: right;
}
.header .gnb .dep2_wrap .container > div h2 {
  font-weight: 500;
  font-size: 24px;
}
.header .gnb .dep2_wrap .container > ul {
  width: calc(100% - 215px);
  min-height: 120px;
  padding-left: 50px;
  background: #fff;
  margin: 30px 0 30px 215px;
  border-left: 1px solid #cecfd1;
}
.header .gnb .dep2_wrap .container > ul > :nth-child(n) {
  float: left;
  width: calc(33.3333333333% - 20px);
  margin-right: 30px;
}
.header .gnb .dep2_wrap .container > ul > :nth-of-type(3n) {
  margin-right: 0;
}
.header .gnb .dep2_wrap .container > ul > :not(:nth-of-type(3n + 1)) {
  clear: none;
}
.header .gnb .dep2_wrap .container > ul > :nth-of-type(3n + 1) {
  clear: both;
}
.header .gnb .dep2_wrap .container > ul > li {
  transition: 0.3s;
  text-align: left;
  margin-bottom: 18px;
}
.header .gnb .dep2_wrap .container > ul > li:hover > a {
  border-color: #23408f;
  color: #23408f;
  background-image: url(../images/icon_dep2_on.png);
}
.header .gnb .dep2_wrap .container > ul > li > a {
  line-height: 1.2em;
  font-size: 16px;
  padding: 12px 20px;
  transition: 0.3s;
  display: block;
  font-weight: 500;
  border: 1px solid #cecfd1;
  border-radius: 4px;
  transition: 0.3s;
  background: url(../images/icon_dep2.png) no-repeat right 21px center;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 {
  margin-top: 10px;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li {
  padding: 0 20px;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li:hover a {
  color: #23408f;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li:hover a span:after {
  content: "";
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #ffe7d0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li a {
  display: block;
  font-size: 15px;
  padding: 4px 0 4px 14px;
  position: relative;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li a span {
  position: relative;
  z-index: 0;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li a span:after {
  content: "";
  width: 0;
  transition: 0.4s;
  z-index: -1;
}
.header .gnb .dep2_wrap .container > ul > li .dep3 li a:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #3667c7;
  position: absolute;
  top: 12px;
  left: 0;
}
@media screen and (max-width: 1200px) {
  .header .gnb .dep2_wrap .container > div {
    width: 180px;
  }
  .header .gnb .dep2_wrap .container > div img {
    width: 180px;
  }
  .header .gnb .dep2_wrap .container > ul {
    width: calc(100% - 180px);
    margin-left: 180px;
  }
}
@media screen and (max-width: 1080px) {
  .header.active {
    border-radius: 0;
  }
  .header.active:before {
    top: 82px;
  }
  .header .hd_top {
    display: none;
  }
  .header .gnb .logo a {
    padding: 16px 0;
  }
  .header .gnb > ul {
    display: none;
  }
  .header .gnb .btn_sitemap_open {
    float: right;
    display: block;
    width: 50px;
    height: 70px;
    background: url(../images/common/icon_hambug.png) no-repeat center right 30px auto;
  }
}
@media screen and (max-width: 720px) {
  .header {
    height: 55px;
  }
  .header.active:before {
    top: 55px;
  }
  .header .gnb .logo a {
    width: 155px;
    background-size: 155px auto;
    background-image: url(../images/img_logo_m.png);
    height: 55px;
    padding: 0;
  }
  .header .gnb .util {
    padding-top: 0px;
  }
  .header .gnb .util .search_box {
    top: 55px;
  }
  .header .gnb .util .btn_search_open {
    width: 55px;
    height: 55px;
    background-size: 20px auto;
  }
  .header .gnb .util .btn_search_open.active {
    background-size: 16px auto;
  }
  .header .gnb .util .btn_sitemap_open {
    width: 55px;
    height: 55px;
    background-size: 22px auto;
    margin: 0;
  }
}

.m_gnb {
  display: none;
  color: #404650;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 100;
  overflow-y: hidden;
  background: rgba(0, 0, 0, 0.6);
}
.m_gnb > div {
  margin-left: 80px;
  background: #fff;
  min-height: 100%;
}
.m_gnb > div .util {
  padding: 20px 25px;
  background: #eee;
}
.m_gnb > div .util:after {
  content: "";
  display: block;
  clear: both;
}
.m_gnb > div .util ol {
  float: left;
}
.m_gnb > div .util ol:after {
  content: "";
  display: block;
  clear: both;
}
.m_gnb > div .util ol li {
  float: left;
  position: relative;
  margin-right: 7px;
}
.m_gnb > div .util ol li a {
  display: inline-block;
  line-height: 30px;
  font-size: 13px;
  padding: 0 40px 0 15px;
  color: #fff;
  background: #000 url(../images/m_join.png) no-repeat right 15px center/9px auto;
  border-radius: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.33);
}
.m_gnb > div .util ol li:last-child a {
  background-image: url(../images/m_login.png);
}
.m_gnb > div .util .btn_sitemap_close {
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/m_close.png) no-repeat center/15px auto;
}
.m_gnb > div > ul {
  width: 100%;
}
.m_gnb > div > ul > li a {
  display: block;
  color: #404650;
  background: url(../images/arrow_gnb_dep1_off.png) no-repeat right 30px center/7px auto;
  border-bottom: 1px solid #ddd;
}
.m_gnb > div > ul > li > a {
  font-size: 18px;
  line-height: 52px;
  background-color: #fff;
  font-weight: 500;
  padding: 0 40px 0 30px;
}
.m_gnb > div > ul > li .dep2_wrap {
  display: none;
  background-color: #f6f7fc;
}
.m_gnb > div > ul > li .dep2_wrap > .container {
  margin: 0;
  max-width: none;
  padding: 0 20px;
}
.m_gnb > div > ul > li .dep2_wrap > .container > div {
  display: none;
}
.m_gnb > div > ul > li .dep2_wrap > .container > ul > li > a {
  display: block;
  line-height: 45px;
  font-size: 15px;
  padding-left: 10px;
  background-position: right 10px center;
}
.m_gnb > div > ul > li .dep2_wrap > .container > ul > li.active2 > a {
  background-image: url(../images/arrow_gnb_dep3_off.png);
  background-size: auto 7px;
}
.m_gnb > div > ul > li .dep2_wrap > .container > ul .dep3 {
  display: none;
  padding: 18px 0;
  border-bottom: 1px solid #ddd;
}
.m_gnb > div > ul > li .dep2_wrap > .container > ul .dep3 > li > a {
  display: block;
  line-height: 32px;
  color: #656d7b;
  font-size: 14px;
  border-bottom: none;
  background: none;
  font-weight: 300;
  padding: 0 0 0 20px;
}
.m_gnb > div > ul > li .dep2_wrap > .container > ul .dep3 > li > a:before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #b3c1d8;
  margin-right: 7px;
  vertical-align: 3px;
}
.m_gnb > div > ul > li.active2 > a {
  background-image: url(../images/arrow_gnb_dep3_off.png);
  background-size: auto 7px;
}
.m_gnb > div > ul > li.active > a {
  background-color: #23408f;
  color: #fff;
  background-image: url(../images/arrow_gnb_dep1_on.png);
  background-size: auto 7px;
}
.m_gnb > div > ul > li.active .dep2_wrap > .container {
  margin: 0;
}

#contents { /* padding-top: 52px; */
  position: relative;
}
#contents:after {
  content: "";
  display: block;
  clear: both;
}
@media screen and (max-width: 1220px) {
  #contents {
    padding-top: 82px;
  }
}
@media screen and (max-width: 1080px) {
  #contents {
    padding-top: 70px;
  }
}
@media screen and (max-width: 720px) {
  #contents {
    padding-top: 55px;
  }
}

/*푸터*/
.footer .f_banner {
  padding: 60px 0;
  background: linear-gradient(45deg, #86aee5, #005db5);
}
.footer .f_banner:after {
  content: "";
  display: block;
  clear: both;
}
.footer .f_banner h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer .f_banner .control {
  font-size: 0;
  width: 230px;
  height: 30px;
  float: left;
  text-align: right;
}
.footer .f_banner .control:before {
  display: inline-block;
  height: 100%;
  content: "";
  vertical-align: middle;
}
.footer .f_banner .control > :nth-child(n) {
  font-size: 19px;
  display: inline-block;
  vertical-align: middle;
}
.footer .f_banner .control button {
  width: 46px;
  height: 46px;
  overflow: hidden;
  text-indent: 46px;
  padding: 14px;
  display: inline-block;
  margin-right: 6px;
  /*           &.play {background:url(../images/btn_fb_play.png) no-repeat center center; border-radius: 0 0 5px 5px;}    */
}
.footer .f_banner .control button.next {
  background: #e61874 url(../images/f_banner_next.png) no-repeat center center;
  margin-right: 0;
}
.footer .f_banner .control button.prev {
  background: #fff url(../images/f_banner_prev.png) no-repeat center center;
}
.footer .f_banner .control button.pause {
  border: 1px solid #000;
  background: url(../images/ft_banner_stop.png) no-repeat center center;
}
.footer .f_banner .slide {
  height: 30px;
  float: left;
  width: calc(100% - 230px);
  margin: 5px 0;
  float: right;
}
.footer .f_banner .slide .item {
  float: left;
  padding-left: 15px;
  padding-right: 35px;
  font-size: 22px;
  position: relative;
}
.footer .f_banner .slide .item::after {
  display: block;
  position: absolute;
  background: url(../images/f_banner_slide.png) no-repeat;
  content: "";
  width: 35px;
  height: 53px;
  right: 0;
  top: 0;
}
.footer .f_banner .slide .item:hover {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
}
.footer .f_nav {
  background-color: #333333;
  padding-top: 40px;
  padding-bottom: 50px;
}
.footer .f_nav .fnb {
  background: url(../images/f_logo.png) no-repeat top left;
  padding-top: 80px;
  margin-bottom: 50px;
  float: left;
}
.footer .f_nav .fnb:after {
  content: "";
  display: block;
  clear: both;
}
.footer .f_nav .fnb li {
  float: left;
  position: relative;
}
.footer .f_nav .fnb li a {
  color: #fff;
  padding: 0 22px;
  font-size: 17px;
}
.footer .f_nav .fnb li::before {
  content: "";
  display: block;
  right: 0;
  top: 3px;
  height: 20px;
  width: 1px;
  background-color: #fff;
  position: absolute;
}
.footer .f_nav .fnb li:last-child::before {
  display: none;
}
.footer .f_nav .fnb li:first-child a {
  padding-left: 0;
}
.footer .f_nav .sns {
  float: right;
}
.footer .f_nav .sns:after {
  content: "";
  display: block;
  clear: both;
}
.footer .f_nav .sns li {
  float: left;
}
.footer .f_nav .sns li a {
  padding: 0 10px;
}
.footer .f_nav .sns li:last-child a {
  padding-right: 0;
}
.footer .f_nav .addr {
  clear: both;
  display: block;
}
.footer .f_nav .addr li {
  color: #aaaaaa;
  font-size: 15px;
}

#contents .banner .slide_box {
  position: relative;
}
#contents .banner .slide_box .slide .item {
  display: block; /*  height: 580px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contents .banner .slide_box .slide_btn {
  position: absolute;
  left: 45%;
  top: 31%;
  width: 100%;
  display: block;
  z-index: 1;
  transform: translateX(-50%);
}
#contents .banner .slide_box .slide_btn .pagination_dot {
  text-align: center;
  margin-right: 10px;
  display: inline-block;
}
#contents .banner .slide_box .slide_btn .pagination_dot li {
  float: left;
  font-size: 1rem;
  margin: 0 10px;
}
#contents .banner .slide_box .slide_btn .pagination_dot li button {
  color: #fff;
  height: 36px;
  line-height: 36px;
  width: 20px;
  overflow: hidden;
  opacity: 0.5;
}
#contents .banner .slide_box .slide_btn .pagination_dot li.slick-active button {
  opacity: 1;
}
#contents .banner .slide_box .slide_btn .progress_bar {
  display: inline-block;
  width: 86px;
  max-width: 200px;
  height: 2px;
  background: #eee;
  border-bottom: 2px solid #eee;
  margin: 14px 5px;
}
#contents .banner .slide_box .slide_btn .progress_bar .progress {
  width: 0%;
  height: 3px;
  background: rgb(75, 162, 254);
}
#contents .banner .slide_box .slide_btn .control {
  display: inline-block;
}
#contents .banner .slide_box .slide_btn .control :nth-child(n) {
  display: inline-block;
  font-size: 1rem;
  margin: 0 5px;
  vertical-align: top;
}
#contents .banner .slide_box .slide_btn .control .btn {
  /* &.next,&.prev {position: absolute; bottom: 300%; right: 105px; background: #000 url('../images/banner_next.png') no-repeat center center; opacity: 40%;
    border-radius: 50px; width: 80px; height: 80px;
  }
  &.prev { position: absolute;left: 105px;
    background:#000 url('../images/banner_prev.png') no-repeat center center;
  } */
}
#contents .banner .slide_box .slide_btn .control .btn.pause {
  display: inline-block;
  background: url("../images/slide_pause.png") no-repeat center center;
  width: 9px;
  height: 12px;
  margin: -5px 0;
}
#contents .banner .slide_box .slide_btn .control .btn.play {
  background: url("../images/slide_play.png") no-repeat center center;
}
#contents .banner .slide_box .slide_tit {
  position: absolute;
  top: 18%;
  left: 45%;
  width: 100%;
  transform: translateX(-50%);
  display: block;
  color: #fff;
  font-size: 60px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  line-height: 4rem;
}
#contents .banner .slide_box .slide_tit b {
  display: block;
  font-weight: 400;
}
#contents .banner .slide_box .weather {
  position: absolute;
  content: "";
  display: block;
  right: 11%;
  top: 21%;
  transform: translateX(-50%);
  z-index: 1;
  color: #fff;
}
#contents .banner .slide_box .weather img {
  margin-top: -29px;
  margin-right: 30px;
}
#contents .banner .slide_box .weather > div {
  line-height: 3rem;
}
#contents .banner .slide_box .weather > div strong {
  font-size: 30px;
  font-family: "Ddin";
}
#contents .banner .slide_box .weather > div strong span {
  font-size: 85px;
  margin-right: 10px;
  letter-spacing: -5.5px;
}
#contents .banner .slide_box .weather em {
  display: block;
  margin-bottom: 10px;
  font-family: "Ddin";
  font-size: 18px;
}
#contents .banner .slide_box .weather ul:after {
  content: "";
  display: block;
  clear: both;
}
#contents .banner .slide_box .weather ul li {
  float: left;
  padding-left: 10px;
  font-family: "Ddin";
}
#contents .banner .slide_box .weather ul li > span {
  color: #c50202;
  margin-left: 10px;
  font-weight: 600;
}
#contents .banner .slide_box .weather ul li:first-child {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}
#contents .banner .slide_box .weather ul li:first-child ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 20px;
  width: 1px;
  background-color: #fff;
}
#contents .banner .slide_box .slide_menu {
  margin: auto;
  position: absolute;
  bottom: 11%;
  left: 24%;
  display: block;
  transform: translateX(-50%, -50%);
}
#contents .banner .slide_box .slide_menu:after {
  content: "";
  display: block;
  clear: both;
}
#contents .banner .slide_box .slide_menu li {
  float: left;
  margin: 0 20px;
}
#contents .banner .slide_box .slide_menu li a {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  width: 204px;
  height: 204px;
}
#contents .banner .slide_box .slide_menu li a img {
  display: block;
  margin: auto;
}
#contents .banner .slide_box .slide_menu li a b {
  display: block;
  color: #fff;
  font-size: 22px;
  text-align: center;
  margin-top: 27px;
}
@media screen and (max-width: 1080px) {
  #contents .banner .slide_box .slide_btn .control .btn.next {
    right: 30px;
  }
  #contents .banner .slide_box .slide_btn .control .btn.prev {
    left: 30px;
  }
  #contents .banner .slide_box .slide_btn .control .btn.next, #contents .banner .slide_box .slide_btn .control .btn.prev {
    width: 60px;
    height: 60px;
  }
  #contents .banner .slide_box .slide_btn .control .btn.next span, #contents .banner .slide_box .slide_btn .control .btn.prev span {
    width: 20px;
    background-size: 20px auto;
  }
}
@media screen and (max-width: 720px) {
  #contents .banner .slide_box .slide .item {
    background-size: auto 300px;
    height: 300px;
  }
  #contents .banner .slide_box .slide_btn .pagination_dot {
    margin-right: 0;
  }
  #contents .banner .slide_box .slide_btn .control .btn {
    vertical-align: top;
  }
  #contents .banner .slide_box .slide_btn .control .btn.next, #contents .banner .slide_box .slide_btn .control .btn.prev {
    display: none !important;
  }
  #contents .banner .slide_box .slide_btn .control .btn.btn.pause {
    margin-top: -10px;
  }
  #contents .banner .slide_box .slide_btn .progress_bar {
    margin-top: 15px;
    vertical-align: top;
  }
  #contents .banner .slide_box > span {
    top: 80px;
    font-size: 20px;
    text-shadow: none;
  }
  #contents .banner .slide_box > span b {
    font-size: 38px;
    line-height: 34px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #contents .banner .slide_box > span img {
    height: 25px;
  }
}

.board {
  padding: 90px 0;
  background: #f5f5f5;
}
.board:after {
  content: "";
  display: block;
  clear: both;
}
.board .tab_box {
  position: relative;
  float: left;
  width: calc(100% - 680px);
  margin-right: 50px;
}
.board .tab_box > li {
  float: left;
  width: 25%;
}
.board .tab_box > li > button {
  height: 50px;
  width: 100%;
  padding: 0 20px;
  font-size: 22px;
  padding-bottom: 20px;
}
.board .tab_box > li > div {
  display: none;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  border-top: 1px solid #000;
}
.board .tab_box > li > div > ol li {
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #b4b4b3;
}
.board .tab_box > li > div > ol li:after {
  content: "";
  display: block;
  clear: both;
}
.board .tab_box > li > div > ol li:after {
  content: "";
  display: block;
  clear: both;
}
.board .tab_box > li > div > ol li div {
  width: calc(100% - 100px);
  float: left;
  padding-right: 60px;
}
.board .tab_box > li > div > ol li div strong {
  display: block;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 15px;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.board .tab_box > li > div > ol li div strong b {
  font-size: 15px;
  margin-left: 5px;
}
.board .tab_box > li > div > ol li div span {
  color: #888;
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 48px;
}
.board .tab_box > li > div > ol li em {
  color: #888;
  float: right;
  width: 100px;
  padding: 0 13px;
  font-weight: 500;
}
.board .tab_box > li > div > ol li:hover {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.board .tab_box > li > div > ol li:last-child {
  border-bottom: none;
  margin: auto;
  display: block;
  padding-left: 0;
}
.board .tab_box > li > div > ol li:last-child span {
  background: url(../images/board_more.png) no-repeat top 10px right;
  font-size: 22px;
  display: block;
  width: 130px;
  margin: auto;
  padding-right: 40px;
  font-weight: 500;
}
.board .tab_box > li > div > ol li:last-child:hover {
  background-color: unset;
  box-shadow: none;
}
.board .tab_box > li.active > button {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: -5px;
  position: relative;
}
.board .tab_box > li.active > button::before {
  position: absolute;
  display: block;
  content: "";
  background-color: #e61874;
  max-width: 132px;
  height: 8px;
  bottom: -1px;
  z-index: 1;
  left: 10px;
  width: 100%;
}
.board .tab_box > li.active > div {
  display: block;
}
.board .tab_box + .tab_con {
  position: relative;
}
.board .tab_box + .tab_con > li {
  display: none;
}
.board .tab_box + .tab_con > li.active {
  display: block;
}
.board .banner2 {
  width: 630px;
  float: right;
  overflow: hidden;
  position: relative;
}
.board .banner2 h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 13px;
}
.board .banner2 > .control {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  line-height: 0;
  padding: 15px 0;
}
.board .banner2 > .control .pagination_num {
  padding: 10px 0;
  margin-right: 10px !important;
}
.board .banner2 > .control .pagination_num .current {
  color: #e61874;
}
.board .banner2 > .control :nth-child(n) {
  display: inline-block !important;
  font-size: 1.375rem;
  margin: 0 5px;
  vertical-align: top;
}
.board .banner2 > .control .btn.next {
  background: url("../images/banner2_next.png") no-repeat center;
  width: 25px;
  height: 22px;
}
.board .banner2 > .control .btn.prev {
  background: url("../images/banner2_prev.png") no-repeat center;
  width: 25px;
  height: 22px;
}
.board .banner2 > .control .btn.pause {
  background: url("../images/banner2_stop.png") no-repeat center;
  width: 10px;
  height: 21px;
  padding: 0 25px;
}
.board .banner2 > .control .btn.play {
  background: url("../images/banner2_play.png") no-repeat center center;
  width: 14px;
  height: 22px;
}
.board .banner2 .slide_box {
  position: relative;
}
.board .banner2 .slide_box > .slide .item > a {
  display: block;
}
@media screen and (max-width: 720px) {
  .board .banner2 {
    border-radius: 0 15px 0 15px;
    margin-top: 20px;
  }
  .board .banner2 .slide_box {
    position: relative;
  }
  .board .banner2 .slide_box > .slide .item > a img {
    border-radius: 0 15px 0 15px;
  }
  .board .banner2 .slide_box > .control {
    padding: 8px 20px 7px;
    border-radius: 5px 5px 0 0;
    color: #fff;
  }
  .board .banner2 .slide_box > .control .pagination_num {
    margin-right: 10px;
    padding-top: 6px;
  }
  .board .banner2 .slide_box > .control :nth-child(n) {
    font-size: 13px;
    margin: 0 4px;
  }
}

/* 문화공공체육시설 */
#MAIN_BRAND {
  padding-bottom: 180px;
  /* .gu_link_hover{
    a{
      .gu_img_area{border: 0}
    }
  } */
  /*   .top_copy{
      h2{transform:translate(0,100px); opacity:0;}
    } */
}
#MAIN_BRAND .list .tab_box {
  position: relative;
  left: 50%;
  width: 1280px;
  font-size: 0;
  margin: 35px 0 40px -640px;
  overflow: hidden;
  transform: translate(0, 100px);
  opacity: 0;
}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner {
  white-space: nowrap;
  position: relative;
}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner .slide_item {
  display: inline-block;
  width: 440px !important;
  padding: 0 18.5px;
  text-align: center;
  height: 124px;
  line-height: 124px;
  opacity: 0.7;
  font-size: 28px;
  color: #000;
}
#MAIN_BRAND .list .tab_box .btns_tab .btns_tab_inner .slide_item.slick-current + .slide_item {
  opacity: 1;
}
#MAIN_BRAND .list .tab_box .btn_tabArrow {
  position: absolute;
  top: 40px;
}
#MAIN_BRAND .list .tab_box .btn_tabArrow_l {
  left: 406px;
}
#MAIN_BRAND .list .tab_box .btn_tabArrow_r {
  right: 406px;
}
#MAIN_BRAND .list .tab_box .count {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#MAIN_BRAND .list .tab_box .count > span {
  font-size: 16px;
  color: #888888;
}
#MAIN_BRAND .list .tab_box .count > span > span {
  color: #222;
}
#MAIN_BRAND .list .tab_box .count > span > span.current {
  opacity: 1;
}
#MAIN_BRAND .list .list_box > ul {
  border: 1px solid #e5e5e5;
  position: absolute;
  top: -9999px;
  display: none;
}
#MAIN_BRAND .list .list_box > ul.on {
  position: relative;
  top: 0;
  display: block;
}
#MAIN_BRAND .list .list_box > ul li {
  float: left; /* position:relative; width:33.333%; display: inline-block; vertical-align:top;box-sizing: border-box; */
}
#MAIN_BRAND .list .list_box > ul li a {
  display: block;
}
#MAIN_BRAND .list .list_box > ul li a:focus {
  border: 1px dotted #000;
}
#MAIN_BRAND .list .list_box .info_box {
  border: 1px solid;
}
#MAIN_BRAND .list .list_box .info_box .copy_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
#MAIN_BRAND .list .list_box .info_box .copy_container .copy_inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  color: #222222;
  padding: 0 10%;
  box-sizing: border-box;
}
#MAIN_BRAND .list .list_box .info_box .copy_container .copy_inner > .copy { /* display: table-cell; vertical-align: middle; */ }
#MAIN_BRAND .list .list_box .info_box .copy_container .copy_inner > .copy .desc {
  margin-bottom: 50px;
  line-height: 28px;
}
#MAIN_BRAND .list .list_box .info_box .copy_container .copy_inner > .copy .btn_detail {
  color: #666666;
}
#MAIN_BRAND .list .list_box .info_box.type_black {
  background-color: #111111;
}
#MAIN_BRAND.on .list .tab_box {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s, opacity 1s;
  transition-delay: 0.1s;
}
#MAIN_BRAND.on .list .tab_box .count {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 1s, opacity 1s;
  transition-delay: 0.2s;
}
#MAIN_BRAND.on .list .tab_box ul li {
  transform: translate(0, 0);
  opacity: 1;
  transition: transform 0.8s, opacity 0.8s;
}
#MAIN_BRAND.on .list .tab_box ul li:nth-child(1) {
  transition-delay: 0.3s;
}
#MAIN_BRAND.on .list .tab_box ul li:nth-child(2) {
  transition-delay: 0.4s;
}
#MAIN_BRAND.on .list .tab_box ul li:nth-child(3) {
  transition-delay: 0.5s;
}
#MAIN_BRAND.on .list .tab_box ul li:nth-child(4) {
  transition-delay: 0.6s;
}
#MAIN_BRAND.on .list .tab_box ul li:nth-child(5) {
  transition-delay: 0.7s;
}
#MAIN_BRAND.on .list .tab_box ul li:nth-child(6) {
  transition-delay: 0.8s;
}

/********************** shinsegae brand in motion set *******************************/
/* #MAIN_BRAND .top_copy h2 {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .tab_box {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .tab_box .count {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .list_box ul li {transform:translate(0,100px); opacity:0;}
#MAIN_BRAND .list .btn_viewmore {transform:translate(0,100px); opacity:0;} */
/* art & culture in motion play */
/* #MAIN_BRAND.on .top_copy h2 {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s;} */
/* #MAIN_BRAND.on .list .tab_box {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s; transition-delay:0.1s;}
#MAIN_BRAND.on .list .tab_box .count {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s; transition-delay:0.2s;} */
/* #MAIN_BRAND.on .list .list_box ul li {transform:translate(0,0); opacity:1; transition:transform 0.8s, opacity 0.8s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(1) {transition-delay:0.3s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(2) {transition-delay:0.4s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(3) {transition-delay:0.5s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(4) {transition-delay:0.6s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(5) {transition-delay:0.7s;}
#MAIN_BRAND.on .list .list_box ul li:nth-child(6) {transition-delay:0.8s;}
#MAIN_BRAND.on .list .btn_viewmore {transform:translate(0,0); opacity:1; transition:transform 1s, opacity 1s; transition-delay:0.9s;}
 *//*# sourceMappingURL=default.css.map */