#wrap {min-height:100vh;}
//공통 스타일

.container {
  overflow:hidden;
  margin: 0 auto; 
  max-width:1300px;

  @include maxWidth(1260px){
    //margin-right:30px; margin-left:30px;
  }

  @include maxWidth(720px){
    //margin-right:13px; margin-left:13px;
  }
}

.skip_navi {position:absolute; z-index:9999; width:100%; left:0; top:0; text-align:center;
	a{display:block; position:absolute; left:0; top:-9999px; z-index:1; width:100%; height:40px; line-height:40px; background-color:#333; color:#fff; font-size:20px; font-weight:700;
		&:hover, &:focus{top:0;}
	}
}


/*헤더*/
.header{$headH:80px;position:absolute; top: 0; left: 0; width:100%;  z-index: 100;  transition:border-radius 0.1s; /* overflow-y:hidden; box-shadow:0 0 10px rgba(0,0,0,0.1);  */
  /* &.active {border-radius:0 0 80px 0;transition:border-radius 0.1s;
    &:before {content:'';width:100%;height:1px;background-color:#ececec;position:absolute;left:0;top:100px;display:block;z-index:11;}
  } */
  .hd_top { @include clear; background-color: #333; color: #fff; height: 52px; 

      ul{float: left; margin-left: 80px; font-size:16px;
        li{display: inline-block; vertical-align: middle;position: relative;
          a{line-height: 52px; padding: 0 4.5em; font-weight: 300;} 
          &:before{content: ""; display: block; width: 2px; height: 15px; background: #dbdbdb; position: absolute; top: 56%; transform: translateY(-60%); left: -2px;}
          &:first-child{
            a{padding-left: 0;}
            &:before{display: none;}
          }
          &:first-child{padding-right: 0;}
        }
        @include maxWidth(1080px){
          margin-left:40px;
          font-size:14px;
          li{
            a{
              padding:0 2.4em;
            }
          }
        }
        // @include minWidth(721px){
        //   margin-left:0px;
        // }
          
      }
      .util{ float: right; @include clear; margin-right: 80px;
        li{display: inline-block; vertical-align: middle; position: relative;
          a{line-height: 52px; padding: 0 20px;font-weight: 300;} 
        }
        .btn_sitemap_open{background:url(../images/sitemap_btn.png) no-repeat center/auto; width: 52px; height: 52px; display:inline-block;vertical-align:middle;}
        .sitemap{float: right; 
            #gnb2 {display:none;overflow-y:auto;position:fixed;left:0;top:0;width:100%;height:100%;z-index:10;background-color:#ccc;padding-top:50px;
                .dep1{font-size:2rem;
                    > li {margin-bottom:20px;}
                }
                .dep2 {@include ftItem(4,0);font-size:1.5rem; }
                .dep3 {font-size:1rem;}
                .btn_sitemap_close {position:absolute;right:0;top:0;}
            }
        }
        @include maxWidth(1080px){
          margin-right:40px;
          font-size:14px;
          .btn_sitemap_open{width:30px; height:30px; background-size:60%; }
        }
        // @include minWidth(721px){
        //   margin-right:0px;
        // }
        
      }
  }
 .layer_gnb{@include clear; background:transparent;
  &.sub, &:hover {border-bottom:1px solid #dddddd; background:rgb(242,242,242); }
  .gnb{display:flex; text-align:center; font-size:0;z-index:12; 
   /* 
    &::before{position: absolute; display: block; content: ''; width: 90px; height: 1px; background-color: #d9d9d9; left: -80px; top: 70px;}
    &::after{position: absolute; display: block; content: ''; width: 235px; height: 1px; background-color: #d9d9d9; right: -226px; top: 70px;}
   */
      .logo{ flex:0 0 289px; margin-left:80px;
          a{width:289px; background: url(../images/logo.png) no-repeat center left/ auto 40px; height:70px; line-height:70px;display:block;}
        @include maxWidth(1080px){
          flex:0 0 240px;
          margin:0 20px 0 20px;
          width:240px;
        }
      }
      nav{flex:0 0 auto;  @include clear; width: calc(100% - 589px); 
        >ul{ display:flex;  justify-content: space-between; font-size:22px;  
          >li{flex:0 0 20%; 
              
              &:hover{
                  >a{font-weight: 600;} 
              }
              &.active{
                  span{
                    display: inline-block;
                      position:relative; 
                      &::after{ content:""; position:absolute; left:10%; bottom:-10px; width:80%; height:4px; background-color:#000; z-index:5;}
                  }
                  .dep2_wrap{visibility: visible; top:122px;  z-index: 3; border-top: 1px solid #d9d9d9 ;}
              }
              &:first-child{
                  a{padding-left: 0; }
              }
            
            >a{font-weight: 400; position: relative; padding-top:24px;  height: 46px;  white-space:nowrap; 
              @include maxWidth(1080px){
                font-size:18px;
              }
            }

            .dep2_wrap { display:flex; width:100%; position:absolute; top:-9999px; left:0; z-index:1;  @include clear; visibility: hidden; background-color: #dddddd;
              
              >div{position:relative; flex:0 0 369px; height: 340px;line-height: 23px; text-align: left; background-color: #dddddd;padding: 40px 0px 80px 150px;
                  h2{font-weight: 500; font-size: 24px;margin-bottom: 50px;}
              }
              >ul{ flex:1 0 auto;   align-content:stretch; display:flex; flex-wrap:wrap; padding:30px 0 60px 30px; width:calc(100% - 519px); background-color: #f2f2f2; @include clear;
                >li{flex:0 1 auto; /*transition: 0.3s;*/ text-align: left;  margin-right:15px;  width:220px; margin-bottom:20px;
                    &:hover{
                        > a{border-color: #23408f; color: #23408f; background-image:url(../images/icon_dep2_on.png);}
                    }
                    &:first-child{margin-left: 0;}
                    >a{ line-height:1.2em; font-size: 18px; font-weight: 500; padding: 4px 20px;  /*transition: 0.3s; */ display: block; text-align: center;font-weight: 500; border: 1px solid #cecfd1; /* transition: 0.3s; */ background: url(../images/icon_dep2.png) no-repeat right 21px center; color:#222222;
                    }
                    .dep3{margin-top: 10px; margin-bottom:30px;
                        li{  
                            &:hover{
                                a{color: #23408f;
                                    span{
                                        &:after{
                                            content: ""; width: 100%; height: 6px; border-radius: 3px; background: #ffe7d0; position: absolute; bottom: 0; left: 0; 
                                        }
                                    }
                                }
                            }
                            a{display:block;font-size: 16px; padding: 4px 0 4px 14px; position: relative;color:#222222;
                              span{position: relative; z-index: 0;
                                &:after{content:""; width: 0; transition: 0.4s; z-index: -1;}
                              }
                                &:before{content: ""; display: block; width: 4px; height: 4px; border-radius: 50%; background: #3667c7; position: absolute; top: 12px; left: 0;}
                            }
                        }
                    }
                  
                }
              }
            }


          }

          @include maxWidth(1080px){
            
            width: calc(100% - 280px);
            >li{
              flex:0 1 auto; padding:0 5px; 
            }
          }

        }
      }
    
  }
}
  @include maxWidth($pc){
      .gnb{         
          .dep2_wrap{
              .container{
                  > div{width: 180px;
                        img {width: 180px;}
                    }
                  > ul{width: calc(100% - 180px); margin-left: 180px;}
              }
          }
      }
  }
  @include maxWidth($m720){
    &.active {border-radius:0;
      &:before {top:82px;}
    }
    .hd_top{display: none;}
    .gnb{
        .logo{
            a{padding: 16px 0;}
        }
        >ul{display: none;}
        .btn_sitemap_open{float:right; display: block; width: 50px; height: 70px; background: url(../images/common/icon_hambug.png) no-repeat center right 30px auto;}
    }
  }
  @include maxWidth($m720){
    &.active {
      &:before {top:55px;}
    }
    height:55px;
    .gnb{
        .logo{
            a{width:155px;background-size:155px auto;background-image:url(../images/img_logo_m.png);height:55px;padding:0;}
        }
        .util {padding-top:0px;
        .search_box {top:55px;}
        .btn_search_open {width:55px;height:55px;background-size:20px auto;
          &.active{background-size:16px auto;}
        }
        .btn_sitemap_open{width:55px;height:55px;background-size:22px auto; margin: 0;}
      }
    }
  }
}

.m_gnb{display:none;
  // @media screen and (min-width:1081px){
  color:#404650; position:fixed; width:100%; height:100%; left:0; top:0; background: #fff; z-index:100; overflow-y:hidden; background: rgba(0,0,0,0.6);
  >div{margin-left: 80px; background: #fff; min-height: 100%;
    .util{padding: 20px 25px; @include clear; background: #eee;
        ol{@include clear; float: left; 
            li{float: left; position: relative; margin-right:7px;
                a{ display:inline-block; line-height:30px; font-size: 13px; padding: 0 40px 0 15px;color:#fff; background: #000 url(../images/m_join.png) no-repeat right 15px center / 9px auto; border-radius:30px; box-shadow:0 3px 6px rgba(0,0,0,0.33);
                }
                &:last-child{
                    a{background-image: url(../images/m_login.png);}
                }
            }
        }
        .btn_sitemap_close{float: right; width: 30px; height: 30px; background: url(../images/m_close.png) no-repeat center / 15px auto;}       
    // }
    }
    // @media screen and (max-width:1080px) {
    > ul {width:100%;
      > li {
        a {display:block;color:#404650;background:url(../images/arrow_gnb_dep1_off.png) no-repeat right 30px center/7px auto; border-bottom: 1px solid #ddd;}
        >a {font-size:18px;line-height:52px;background-color:#fff;font-weight:500;padding:0 40px 0 30px;}
        .dep2_wrap {display:none;background-color:#f6f7fc;
          > .container {margin:0;max-width:none; padding: 0 20px;
            > div {display:none;}
            > ul {
              > li {                
                > a {display:block;line-height:45px;font-size:15px; padding-left: 10px; background-position: right 10px center;}
                &.active2 {
                  > a {background-image:url(../images/arrow_gnb_dep3_off.png); background-size:auto 7px;}
                }
              }
              .dep3 {display:none; padding: 18px 0; border-bottom: 1px solid #ddd;
                > li {
                  > a {display:block; line-height:32px; color:#656d7b; font-size:14px; border-bottom: none; background:none; font-weight: 300; padding: 0 0 0 20px;
                    &:before {content:''; display:inline-block; width:4px; height:4px; background-color:#b3c1d8; margin-right:7px; vertical-align:3px;}
                  }
                }
              }
            }
          }
        }
        &.active2 {
          > a {background-image:url(../images/arrow_gnb_dep3_off.png);background-size:auto 7px;}
        }
        &.active {
          > a {background-color:#23408f;color:#fff;background-image:url(../images/arrow_gnb_dep1_on.png);background-size:auto 7px;}
            .dep2_wrap {
          > .container {margin:0;}
          }
        }
      }
    }
  }
}




#contents{/* padding-top: 52px; */  @include clear; position: relative;  
  @include maxWidth(1220px) {
    
  }
   @include maxWidth(1080px) {
    padding-top:50px;
  }
  @include maxWidth($m720) {
    padding-top:55px;
  }
}



/*푸터*/
.footer {
  .f_banner {@include clear;padding:60px 0; background: linear-gradient(45deg, #86aee5, #005db5);
    @include maxWidth(1080px){
      padding:30px 15px; 
    }
    h2{ font-size: 28px; font-weight: 500; margin-bottom: 10px}
    .footer_banner{display:flex;
      .control {@include align(middle, 19px); flex:0 0 20%; padding-right:35px; height: 48px; text-align: right;
        button {$btnSize : 46px; width:$btnSize;height:$btnSize;overflow:hidden;text-indent:$btnSize; padding: 14px;  display: inline-block; margin-right: 6px;
            &.next{background: #e61874 url(../images/f_banner_next.png) no-repeat center center; margin-right: 0;}
            &.prev{background: #fff url(../images/f_banner_prev.png) no-repeat center center;}
            /* &.pause{border: 1px solid #000; background: url(../images/ft_banner_stop.png) no-repeat center center; } */
  /*        &.play {background:url(../images/btn_fb_play.png) no-repeat center center; border-radius: 0 0 5px 5px;}    */   
        }
      } 
      .slide {flex:0 0 70%; height: 30px; margin: 5px auto; 
        .slick-slide{ padding:3px 0;
          .item { float:left; margin:2px 0; padding-left: 15px;padding-right: 35px; font-size: 22px; line-height:28px; position: relative; transition:all .3s ease;
            &::after{display: block; position: absolute; background: url(../images/f_banner_slide.png) no-repeat; content: '';width: 35px;height: 53px;right: 0;top: 0;}
            &:hover{color: #fff; font-size: 26px; font-weight: 600;}
          }
        }
      }
    }
  }
  .f_nav{ background-color: #333333; padding-top: 40px; padding-bottom: 50px;
    @include maxWidth(1080px){
      padding:30px 15px; 
    }
    .fnb{background: url(../images/f_logo.png) no-repeat top left;padding-top: 80px; @include clear; margin-bottom: 50px; float: left;
      li{ float: left;position: relative;
        @include maxWidth(782px){
          &:last-child {
            a{
              span{position:relative; left:-23px;}
            }
          }
        }
        a{color: #fff; padding: 0 22px; font-size: 17px;
          
        }
        &::before{content: ''; display: block; right: 0; top: 3px; height: 20px; width: 1px; background-color: #fff; position: absolute;}
        &:last-child{
          &::before{display: none;}
        }
        &:first-child{
          a{padding-left: 0;}
        }
      }
    }
    .sns{float: right;@include clear;
      li{float: left;
        a{padding: 0 10px;}
        &:last-child{
          a{padding-right: 0;}
        }
      }
    }
    .addr{clear: both; display: block;
      li{color: #aaaaaa;font-size: 15px;}
    }
  }
}


