
.join_content{
  .for-a11y{position:absolute; width:1px; height:1px; margin:-1px; padding:0; clip:rect(0 0 0 0); overflow:hidden; text-indent:-5000em;}
  .form {
    input, button, select {height:40px; border:1px solid #e2e2e2;
      &.text_box{width:20%; margin-left:15px;}
    }
    .form_list {
      .list {position:relative;
        .no_border{border:0 none;}
        .guide_txt {position:absolute; top: 0px; left: 50px; width: calc(100% - 50px); height: 100%;padding: 0; line-height:57px; background: #fff;z-index: 1; opacity:0.1;
          &:after{display:none;}
          &.alert{opacity:1; color:#f00d38;}
        }
  


        span.chk { left: auto !important; height: 15px !important; margin-top: -8px !important; background-position: 0px 0px;opacity: 1 !important; filter: alpha(opacity=100);}
        span.chk.submit {background-position: 0px -18px;}
        span.icon_bg {display: block;position: absolute;top: 50% !important;right: 25px !important;width: 25px !important;background: url(../images/sprite_common.png) no-repeat 0 0;}

        .btn_drop{
          button{border:0 none;}
          .button__drop-down{ position:relative; width:150px; height: 40px; border:1px solid #f4f4f4;//button요소 
          
            .text{position: absolute; top: 0; left: 0; right: 0; width:150px; height: 40px; text-align:left;  font-weight: bold; font-size: 14px; line-height: 40px; color:  #000; border:$border1; text-indent:20px;
              &:after{@include posV_50('right'); content:''; position:absolute; right:10px; width:18px; height:12px; background: url(../images/sprite_btn.png) no-repeat 0px 0px;
  
              }
            }
            &.on{
              .text{
                &:after{background-position:0 -35px;}
              }
            }
          }//button__drop-down  End 
        }
        
        .select_box {position:absolute; z-index:1000; display:none; background-color:#fff;
          ul {position:relative; z-index:1000; overflow-y: scroll;width: 184px; width:100%;height: 140px;min-height: 28px;max-height: 200px;height: auto;margin: 0;border-top: 1px solid #f1f1f1;}
          &.on{display: block;top: 100%; left:1px; width:100%; height: auto;border: 1px solid #999;border-top: none;}
        } 
        .ability_chk {
          margin: 0px 0 20px 30px;
          color: #f00d38;
        }
        span.icon_bg {
          font-size:0; line-height:0;
          position: absolute;
          top: 50% !important;
          right: 25px !important;
          width: 25px !important;
        }
        &.type_1{//목록에 있는 input의 타입을 결정
          >input{flex:0 0 20%; height:38px;
            &.first{text-align:right;}
          }
          .md_txt{flex:0 1 auto; margin:0 10px;}
          >div.btn_drop{position:relative; z-index:100; flex:0 0 150px; margin-left:10px;}
          .ability_chk{display:none; height:40px; margin:0 20px; line-height:40px;}

          @include maxWidth($m720){flex-wrap:wrap; text-align:center; justify-content: center;
            >input, >select{flex: 0 0 100%; margin:10px auto;}
          }
        }
      }
    }
    .add_file{
      &.noFlex{display:block; 
        dt{}
        dd{
          &.space_lr {height:auto; padding:10px 30px; justify-content:flex-start;
            textarea{border:1px solid $bd_color;}
          }
          &.noFlex{display:block;}          
        }
        @include maxWidth($m720){
          &.input_file{
            dd{
              input{flex:0 0 90%;}
            }
          }
        }
      }
      
    } 
  }
}

.form ul.form_list > li .select_box.on {
    
}

/*회원가입 단계별*/
.form_join{
  ul.step01{
    li{display:flex;
      &.poseVetical_50{
        .regi_usr_tit{justify-content: space-between;}
        .regi_usr_tit, .regi_usr_txt{padding:0; align-items: center; }
      }
      .regi_usr_tit{flex:0 1 auto; min-width:20%; display:flex; justify-content: space-between; padding-top:10px;
        &.u_14{min-width:30%;margin-right:14px;}
          .stp1_chk_tit{flex:0 0 60px;}
          em{flex:0 0 80px; text-align:center; color:#555;}
          .required{flex:0 0 30px; margin-right:20px; font-weight:800;
            &.clr_red{font-weight:300; color:#9c001d;}

        }
      }
      .regi_usr_txt{flex:1 0 auto; flex-wrap:wrap;
        .ability_chk{display:none; flex:0 0 100%; order:3; color:#9c001d; padding-top:10px;
          &.alert{display:block; }
        }
      }
      
      
    }
    @include maxWidth($m720){
      li{flex-wrap:wrap;
        .regi_usr_tit{flex:0 1 auto; min-width:30%; display:flex; justify-content: space-between; padding-top:10px;
          &.u_14{min-width:40%;}
            .stp1_chk_tit{flex:0 0 60px;}
            em{flex:0 0 80px; text-align:center; color:#555;}
            .required{flex:0 0 30px; margin-right:20px; font-weight:800;
              &.clr_red{font-weight:300; color:#9c001d;}
  
          }
        }
        .regi_usr_txt{display:flex; flex:0 1 auto; flex-wrap:wrap;
          .ability_chk{display:none; flex:0 0 100%; order:3; color:#9c001d; padding-top:10px;
            &.alert{display:block; }
          }
        }
      }
      
    }
    @include maxWidth(530px){
      li{flex-wrap:wrap;
        .regi_usr_tit{flex:0 1 auto; min-width:20%; display:flex; justify-content: space-between; padding-top:10px;
          &.u_14{min-width:40%;}
            .stp1_chk_tit{flex:0 0 60px;}
            em{flex:0 0 80px; text-align:center; color:#555;}
            .required{flex:0 0 30px; margin-right:20px; font-weight:800;
              &.clr_red{font-weight:300; color:#9c001d;}
  
          }
        }
        .regi_usr_txt{display:flex; flex:0 0 100%; flex-wrap:wrap; margin-bottom:15px;
          .ability_chk{display:none; flex:0 0 100%; order:3; color:#9c001d; padding-top:10px;
            &.alert{display:block; }
          }
          input[type="text"], input[type="date"]{width:100%;}
          .type_input_box{padding:0 10px;}
          .join_phone_1{flex:0 0 100%; margin-bottom:10px; appearance: auto;}
          .join_phone_2{flex:0 0 100%; margin-bottom:10px;}
          .join_phone_3{flex:0 0 100%; margin-bottom:10px;}
        }
      }
      
    }
  }
  

  .text_outer{border:1px solid #dddddd;}
  .txt_wrapper{border:1px solid #dfdfdf;background-color:#eeeeee;
    p.txt_join{padding:30px 17px;}
    .type_input_box{padding:18px;
      &.bgNnoe{background-color:#fff;}
    }
    &.spaceBox{padding:30px 50px; 
      fieldset{margin-bottom:16px; }
    }
    @include maxWidth(1000px){
      padding:20px 10px; 
      p.txt_join{padding:5px;}
      &.spaceBox{padding:20px 15px; 
        fieldset{margin-bottom:16px; }
      }
    }
  }//.txt_wrapper End
  
  .input_wrapper{padding:18px; background-color:#eeeeee;}
  .rowBox{display:flex;}
  .type_input_box{display:flex; align-items: center; 
    label{order:2; font-size:16px; line-height:16px;}
    select,input{
      order:1; margin-right:5px; display: inline-block; width:auto; height:40px; border:1px solid #dedede;
      &.alert{border-color:#f00d38;};
      
    }
    &.noneOrder{padding:3px 0;
      label{order:1; word-break: keep-all;}
      input{order:2; display: inline-block; width:auto; vertical-align: middle;}
    }
  }
  input[type="checkbox"]{display:inline-block; appearance: checkbox; width:auto; accent-color: #000;}
  input[type="radio"]{display:inline-block; appearance: radio; width:auto; accent-color: #000;}
  >.terms{margin-bottom:70px;
    &.text_long,&.text_short{
      .tit{font-size:22px; font-weight:500; line-height:42px;}  
    }
    @include maxWidth($m720){
      &.text_long,&.text_short{
        .tit{font-size:20px;} 
        .txt_wrapper{margin-top:0;} 
      } 
    }

    &.text_long{
      .terms_text{margin-top:0; padding:17px;overflow-y:scroll; overflow-x:hidden; display:block; width:100%; min-height:200px; max-height:280px; font-size:14px; line-height:22px; color:#333;
        h2, h3, p, table {font-size:14px;}
        h2{line-height:34px;
          &.subsidiary_law{margin:0; margin-top:40px;}
        }
        h3{margin-top:10px;line-height:24px;}
        p, li{line-height:20px;}
        table{margin-top:20px;}
        table, th, td{border:1px solid #dedede;}
        table>thead>tr{background-color:#f2f9f6;}
        table>thead>tr>th{height:32px; word-break:break-all;}
        table>tbody>tr>td{padding-left:10px; height:28px; word-break:break-all;}
    
      }
    }

    
  }
  
  /*버튼들*/
  .btn_box{@include btnCenter; 
    >input{cursor:pointer; margin-bottom:15px; height:60px;}
    input[type="submit"]{background-color:#486ec3;}
    input[type="reset"]{background-color:#555555;}
    &.basic{margin-bottom:120px; display:flex; justify-content:center; align-items:center; margin-top:60px; text-align:center; line-height:60px;
      
      a, input, .btn_submit {margin-bottom:15px; width:234px; height: 60px; background-color:#476dc3; color:#fff;
        &.cancel{background-color:#555555;}
      }
    }
  }

  /* step02 */
  &.form_join_02{
    section{
      h1{
        .descriped{margin-left:20px; font-size:16px; font-weight:300; color:#444; }
      }
      .seperate_box{display:flex; align-items: stretch;
        article{ flex:0 0 50%; border:1px solid #dedede;
          h1{font-weight:300; text-align:center;
            &.none{@include alignFelxCenter; height:100%; font-size:16px; font-weight:300; }
          }
          dl{display:flex; align-items: stretch; flex-wrap:wrap; padding-bottom:20px;
            dt{flex:0 0 100%; height:75px; display: flex; align-items: center; justify-content: center; font-size:22px; font-weight:300;}
            dd{flex:0 0 100%; margin:10px auto  auto; display:flex; align-items:center; font-size:18px; 
              input{margin:0 15px; width:16px; height:16px;}
              label{@include alignFelxCenter; color:#fff; margin:0 auto; width:80%;  height:86px;
                .old_tit{margin-right:15px;} 
                span{margin:0 10px; font-weight:100;
                  &.bar{margin:0 5px;}
                }
                .regi_txt{margin-left:10px;}
              }
              input{
                &+label{background-color:#555555;}
                &:checked+label{background-color:#476dc3;
                  .old_tit{}
                }
              }
            }
          }// dl End
          // &.old_info{display:block; padding:0; 
          //   dl{ display:flex; flex-direction:column; font-weight:300; height:100%;
          //     >*{flex:1 0 0; border-bottom:1px solid #dedede;}
              
          //     .old_id{margin-left:10px;}
          //     .bar{padding:0 10px; }
          //     .old_date{margin-right:10px;}
          //     dt{@include alignFelxCenter; font-size:22px; 
          //       .old_tit{margin-right:10px;}
          //       span{font-size:16px;}
          //     }
          //     dd{padding-left:50px; display:flex; align-items: center;color:#fff;
          //       button{flex:0 0 24%; text-align:left; color:#fff;}
          //       span{font-size:14px;}
          //       &.active{background-color:#476dc3; }
          //       &.cancel{background-color:#555555; }
          //     }
          //     &+p{padding-left:50px; height:25%; display:flex; align-items: center; background-color:#555; color:#fff; 
          //       i{flex:0 0 24%; }
          //       .old_yes{margin:0 10px;font-size:14px;}
          //     }
          //   }
          // }
        }//article End
      }//seperate_box End
      ul.certify{display:flex;
        li{ flex:0 0 50%;
          a{
            display:flex;
          .ico_regi_step_2{@include alignFelxCenter; flex:0 0 80px; height:86px; background-color:#476dc3; }
          .regi_txt{@include alignFelxCenter; flex:0 0 calc(100% - 86px); background-color:#eee;}
          }
          &:first-child{
            a{margin-right:5px;}
          }
          &:last-child{
            a{margin-left:5px;}
          }
        }
        
      }
    }
    .txt_wrapper{
      ul{padding:25px 50px; 
        li{height:50px; line-height:50px;
          .get_label{display:inline-block; width:80px;
            .colon{float:right;}
          }
        }
      }

     
    }

    @include maxWidth($web){
      section{
        .seperate_box{
          article{
            dl{
              dt{flex:0 0 100%; height:75px; display: flex; align-items: center; justify-content: center; font-size:22px; font-weight:300;}
              dd{flex:0 0 100%; margin:10px auto  auto; display:flex; align-items:center; font-size:18px; 
                input{margin:0 15px; width:16px; height:16px;}
                label{flex-direction:column; align-items: center; width:80%;  height:86px;
                  span{display:block; margin:0 10px; font-weight:100; font-size:14px; line-height:20px;}
                  .bracket{display: flex; align-items: center;
                    &.old_tit{margin-right:0;} 
                    &.bar{display:none;}
                    &.old_date{}
                  }
                  .regi_txt{margin-left:10px;}
                }
                input{
                  &+label{background-color:#555555;}
                  &:checked+label{background-color:#476dc3;
                    .old_tit{}
                  }
                }
              }
            }
          }
        }
      }
      
      
    }

    @include maxWidth(1000px){
      .terms{
        .tit{
          .descriped{margin-left:20px; font-size:16px; font-weight:300; color:#444; }
        }
      }
      .txt_wrapper{
        ul{
          &.chk_info_list{padding:10px;
            .chk_info_item{height:28px;line-height:28px;}
          }
        }
      }
    }

    @include maxWidth(580px){
      .terms{
        .tit{
          .descriped{display:block; margin-left:0;}
        }
        .seperate_box{display:block;
          article{min-height:100px; margin-bottom:15px;
            &:first-child{display:flex; flex-direction: column; justify-content: center; align-items: center;}
          }
        }
      }
      .certify_box{
        ul.certify{display:block; 
          li{ flex:0 0 50%; margin-bottom:10px;
            a{
              display:flex;
            .ico_regi_step_2{@include alignFelxCenter; flex:0 0 80px; height:86px; background-color:#476dc3; }
            .regi_txt{@include alignFelxCenter; flex:0 0 calc(100% - 86px); background-color:#eee;}
            }
            &:first-child{
              a{margin-right:0;}
            }
            &:last-child{
              a{margin-left:0;}
            }
          }
          
        }
      }
      
    }

  }

  /* step03 */
  &.form_join_03{
    //validate 
    input[required]:valid{border-color:blue;}
    &.inValidated{
      input[required]:invalid{border-color:red;}
    }
    

    .register_user, .modify_usr{
      >ul{border : {top:1px solid #dedede; left:1px solid #dedede; right:1px solid #dedede;}
        >li{display:flex; border-bottom:1px solid #dedede; 
          .regi_usr_tit{display:flex; flex:0 0 180px; padding:20px; background-color:#eee; justify-content: space-between;
            .required{margin-right:10px; color:#f00d38;}
          }
          .regi_usr_txt{flex:1 0 calc(100% - 180px); padding:20px;             
            .required_msg_box{position:relative; display:block; margin-top:10px; letter-spacing:-1px; 
              &:first-of-type{margin-top:0;}
              .spaceL{padding-left:14px;}
            }
            .ability_chk{display:none;
              &.alert{display:block; color:#f00d38;}
            }
            .chk_pwd{ 
              &.alert{ display:block; font-size:20px; font-weight:900;color:#f00d38; };
            }
            input, select{display:inline-block; height:40px; border:1px solid #dedede;}

            //script 없이 심플 버전
            select.simple{flex:0 0 20%; margin-left:10px;}

            // .form > .form_list > .list 폼작성 스타일링과 합치기
            .input_rad_box{
              >*{vertical-align:middle; margin:10px; }
              span{display:inline-flex; align-items: center; margin-right:20px;
                label{order:2;}
                input{order:1; width:14px; margin:0 5px; height:14px;}
              }
            }
            &.list_inner, &.list{ position:relative; 
              input.alert, select.alert {border-color:#f00d38;}//valid 불통
              .required_msg_box{ transition:transform .3s ease; font-size:16px; line-height:1.6; color:#f00d38;
                //&.alert{font-size:20px; font-weight:900;}//valid 불통
                span{display: block;
                  &.alert{font-size:20px; font-weight:900;};
                }
              }
              .guide_txt { padding-top:20px; padding-left:0; padding-right:0; left:30px; height:60px; width:calc(100% - 30px);
                &:after{display:none;}
                &.flex_box{display:flex; 
                  label{margin-right:10px; height:40px; line-height:40px;}
                  p{height:40px;line-height:40px;}
                }
              }//.guide_txt End
              input{margin-bottom:10px; height:40px; 
                +button{margin-left:20px; width:140px; background-color:#555; color:#fff;}
              }
              select{appearance: auto;}
              .spaceR{margin-right:10px;}
              .btn_drop{position:relative; z-index:1000; height: 40px;
                .button__drop-down{border:0 none;}
              }
              .ability_chk{margin:0;}
            
              .msg_box{display:none;
                &.alert{display:block; color:#f00d38;}
              }
              &.type_1{display:flex;}
              
            }
            @include maxWidth($m720){
              &.list_inner, &.list{ position:relative; 
                select{flex:0 0 100%; margin-left:0; 
                  &.w_20{ width:80px;}
                }  
                input{
                  &.w_20{width:120px;}
                }
              }
            }
            @include maxWidth(640px){
              &.list_inner, &.list{ position:relative; 
                select{
                  &.w_20{ width:100%;}
                }  
                input{
                  &.w_20{width:100%;}
                }                
              }
            }
            @include maxWidth(560px){
              &.list_inner, &.list{ position:relative; 
                input.alert, select.alert {border-color:#f00d38;}//valid 불통
                .required_msg_box{ transition:transform .3s ease; font-size:16px; line-height:1.6; color:#f00d38;
                  //&.alert{font-size:20px; font-weight:900;}//valid 불통
                  span{display: block;
                    &.alert{font-size:20px; font-weight:900;};
                  }
                }
                .guide_txt { padding-top:20px; padding-left:0; padding-right:0; left:30px; height:60px; width:calc(100% - 30px);
                  &:after{display:none;}
                  &.flex_box{display:flex; 
                    label{margin-right:10px; height:40px; line-height:40px;}
                    p{height:40px;line-height:40px;}
                  }
                }//.guide_txt End
                input{margin-bottom:10px; width:100%; 
                  +button{margin-left:0; margin-bottom:15px; width:100%; background-color:#555; color:#fff;}
                }
                select{width:100%; margin-left:0; }
                .spaceR{margin-right:10px;}
                .btn_drop{position:relative; z-index:1000; height: 40px;
                  .button__drop-down{border:0 none;}
                }
                .ability_chk{margin:0;}
              
                .msg_box{display:none;
                  &.alert{display:block; color:#f00d38;}
                }
                &.type_1{display:flex;}
                
              }
            }
          }
          @include maxWidth(500px){flex-direction:column;
            .regi_usr_tit{flex:0 1 auto; padding:10px; height:auto;}
          }
        }// > li End 
      }// >ul End
    }// register_user End

  }//step03 End

  /* step04 */
  &.form_join_04{
    .caution{display:flex; align-items:flex-start; margin: 20px 0; padding:25px 45px;  background-color:#eeeeee;
      .ico_user{ display: inline-block; margin-top:4px; margin-right:20px; width:49px;
      }
      .caution_tit{display:block;  margin-bottom:15px; font-size:22px; line-height:26px;color:#222;}
      .txt{display:block; font-size:$fs-16; line-height:1.2; color:#222; font-size:16px; line-height:16px;}
    }//주의 사항 End 

    .join_04_done{max-width:492px; margin:50px auto 240px auto; padding:38px 30px 30px 30px; border:1px solid #ddd;
      dt{font-size:26px; line-height:26px; font-weight:100; text-align:center;}
      dd.join_04_img{margin:20px 0; text-align:center; }
      dd.btn_box{ flex-wrap:wrap; padding:0;
        .go_login{margin-bottom:10px; flex:0 0 100%; background-color:#486ec3;}
        .go_main{flex:0 0 100%; background-color:#555;}
      }
    }
    @include maxWidth($m720){
      .caution{padding:20px;
        .ico_user{ flex:0 0 74px; display: inline-block; margin-top:4px; margin-right:10px; }
      }
      .caution_tit{word-break:break-all;}
      .txt{word-break:break-all;}
    }
  }
}

/* 비밀번호 수정 팝업 창 */
.usr_modify_box_popup{display:none;position:fixed; z-index:9999; left:0; top:0; width:100vw; height:100vh; 
  .usr_modify_curtain{position:absolute; left:0; top:0; width:100vw; height:100vh; background-color:rgba(0,0,0,.5);}
  .usr_modify_wrapper{position:absolute; left:50%; top:50%; transform:translateX(-50%) translateY(-50%); width:100%; max-width:962px; background-color:#fff;
    >h1{padding:0 20px; height:47px; font-size:18px; line-height:47px; background-color:#333; color:#fff;}
    .join_content{padding:20px 50px; border:1px solid #f2f2f2; 
      .btn_box{margin:30px auto 40px auto; }
    }
    .usr_modify_close{position:absolute; right:20px; top:15px; color:#fff; cursor:pointer;}
  }
  @include maxWidth($m720){
    .usr_modify_wrapper{overflow-y:auto; width:80vw; height:80vh;
      .join_content{padding:10px;  } 
    }
  }
}

/* 개인정보 수정하기 */
.form_join_change{
  .form_list{
    li{
      .regi_usr_txt{
        .btn_change{padding:0 20px; background-color:#555; color:#fff;}
        &.list{
          
        }
      }
      
    }
  }
  @include maxWidth($m720){
    .form_list{
      li{
        .regi_usr_txt{
          .btn_change{width:100%;}
        }
      }
    }
  }
}