
/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, ol, li, form, fieldset, legend, label, input, button, select, textarea, header, main, footer, section, article, aside, menu, nav, table, caption, tbody, tfoot, thead, tr, th, td, summary, figure, figcaption, hgroup { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; word-break: keep-all;}
html, body { width: 100%; height: 100%;}
body {font-size: 16px; line-height: 1.4; color: #222;font-family:'Noto Sans','sans-serif';letter-spacing:-0.05em;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
h1, h2, h3, h4, h5, h6 { font-size: 1rem; font-weight: normal;}
ul, ol, li { list-style-type: none; }
ul:after,ol:after,dl:after {}
a {color: inherit; text-decoration: none; display:block;}
img { max-width: 100%; border: 0;vertical-align:middle; }
p { max-height: 9999px; }
address { font-style: normal; }
button { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0 none; background-color: transparent; font-family: inherit; font-size: inherit; cursor: pointer;-webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer;  }
caption,legend { height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); margin: -1px; font-size:0; line-height:0;}
.hide { height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); clip-path:inset(50%);  position:absolute; font-size:100%; line-height:1; }
.clear {clear:both;}
.br {display:block;}
table {display:table;width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
.thead-hidden{position: absolute;left:-9999px; top:-9999px; width:0;height: 0;overflow: hidden;font-size:0; line-height:0; }
select::-ms-expand { display: none; }
input::-ms-check { display: none; }
form {display:block;width:100%;}
input,  select, textarea {padding: 0 10px; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; display: block; border: 0; font-family: inherit; }
input[type="checkbox"], input[type="radio"]{accent-color: #000;}
textarea{resize:none;}
a:visited {
  color: #636363;
  text-decoration: none;
  &.inverse{ color:#fff;}
}
a:link {
  /*color: #636363;*/
  color: #252525;
  text-decoration: none;
  &.inverse{ color:#fff;}
}
.table_th_space{display: flex; justify-content: space-between; align-items:center;}
.colon{padding:0 10px;}


// input[type="date"]::-webkit-calendar-picker-indicator{
//   opacity:0;
//   z-index: 1;
//   cursor: pointer;
// }

//color
$color1:#c50202;
$color2:#567eff;
$color3:#e51873;

$bg-color1: #f9fafb;
$bg-color2: #f5f7f9;
$bg-color3: #eeeeee;
$bg-active: #486ec3;


//border
$border1: 1px solid #cbcccd;
$border2 : 1px solid #dfdfdf;

//font-family
$ff-noto:'Noto Sans','sans-serif';
$ff-gm:'GmarketSans','sans-serif';
$ff-mj:'NanumMyeongjo','serif';


//font-size
$fs-10:0.625rem;// 10px
$fs-12:0.75rem;// 12px
$fs-13:0.8125rem;// 13px
$fs-14:0.875rem;// 14px
$fs-15:0.9375rem;// 15px
$fs-16:1rem;// 16px
$fs-17:1.0625rem;// 17px
$fs-18:1.125rem;// 18px
$fs-19:1.1875rem;// 19px
$fs-20:1.25rem;// 20px
$fs-21:1.3125rem;// 21px
$fs-22:1.375rem;// 22px
$fs-23:1.4375rem;// 23px
$fs-24:1.5rem;// 24px
$fs-26:1.625rem;// 26px
$fs-28:1.75rem;// 28px
$fs-30:1.875rem;// 30px
$fs-32:2rem;// 32px
$fs-42:2.875rem;// 46px

.w_4{width:4%;}
.w_5{width:5%;}
.w_6{width:6%;}
.w_7{width:7%;}
.w_8{width:8%;}
.w_9{width:9%;}
.w_10{width:10%;}
.w_15{width:15%;}
.w_20{width:20%;}
.w_25{width:25%;}
.w_30{width:30%;}
.w_35{width:35%;}
.w_40{width:40%;}
.w_45{width:45%;}
.w_50{width:50%;}
.w_55{width:55%;}
.w_60{width:60%;}
.w_65{width:65%;}
.w_70{width:70%;}
.w_75{width:75%;}
.w_80{width:80%;}
.w_85{width:85%;}
.w_90{width:90%;}
.w_95{width:95%;}
.required{color:#9c001d;}

.padding_left_5{padding-left:5px;}
.padding_left_10{padding-left:10px;}
.padding_left_15{padding-left:15px;}
.padding_left_20{padding-left:20px;}
.padding_left_25{padding-left:25px;}
.padding_left_30{padding-left:30px;}
.padding_left_35{padding-left:35px;}
.padding_left_40{padding-left:40px;}
.padding_left_45{padding-left:45px;}
.padding_left_50{padding-left:50px;}
.padding_left_55{padding-left:55px;}
.padding_left_60{padding-left:60px;}
.padding_left_65{padding-left:65px;}
.padding_left_70{padding-left:70px;}
.padding_left_75{padding-left:75px;}
.padding_left_80{padding-left:80px;}
.padding_left_85{padding-left:85px;}

//style
$header-height: 85px;

.dot{padding-left:15px; position:relative; color:#222; line-height:22px; 
  &:before{content:""; position:absolute; left:0; top:50%; transform:translateY(-50%); width:4px; height:4px; border-radius:50%; background:#000; }
}

//mixin
/*clear*/
@mixin clear{&:after {content: ''; display: block; clear: both;}}


// ... 처리
@mixin ell1{max-width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
@mixin ell2{text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
@mixin ell3{text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
@mixin ell4{text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;}
@mixin ell6{text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical;}


/*요소 세로 중앙정렬*/
@mixin align($align, $font-size :0){
    font-size:0;
    &:before{display:inline-block;height:100%;content:''; vertical-align:$align;}
    > :nth-child(n) {font-size:$font-size;display:inline-block;vertical-align:$align;}
}

/*아이템 정렬*/
@mixin ftItem($i, $pd){
	> :nth-child(n){
		float:left;
		width:calc(#{100 / $i}% - #{($i - 1) * $pd / $i}px);
		margin-right:#{$pd}px;
	}
	> :nth-of-type(#{$i}n){margin-right:0;}
	> :not(:nth-of-type(#{$i}n + 1)){clear:none;}
  > :nth-of-type(#{$i}n + 1){clear:both;}
}

@mixin scroll{ 
  &::-webkit-scrollbar {
    width: 7px;
    height:7px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #f7f7f9;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 4px;
  }
}

//border
.border_box{border:1px solid #ddd;}

// 반응형 중단점
$wide : 1301px;
$web : 1300px;

$container: 1420px;
$pc: 1200px;
$tab: 1080px;
$m721: 721px;
$m720: 720px;

$circle:4px;

@mixin maxWidth($width){
	@media screen and (max-width:$width){
        @content;
    }
}
@mixin minWidth($width){
	@media screen and (min-width:$width){
        @content;
    }   
}

@mixin testBd(){
  border:1px solid red;
}
@mixin testBg(){
  background:red;
}


/* 이미지 사이즈 */
@mixin imgSize($width:'auto',$vertical-val:'middle'){
  width:$width; height:auto; vertical-align: $vertical-val;
}


/* flex 관련 */
@mixin flex-box( $flex_prop:('flex_val':0 0 auto, 'justify_val':space-between, 'align_val':center, 'a_margin':0px) ){
  display:flex; 
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
  
  $g:&;
  $space : map-get($map: $flex_prop, $key: 'a_margin');
  
  @each $prop, $val in $flex_prop{
    @if $prop == 'align_val' {
      align-items: $val; 
    }
    @if $prop == 'justify_val' {
      justify-content: $val;
    }

    @if $prop == 'flex_val' {
      > :nth-child(n){
        
        @if type-of($val) == 'string'{
          flex:$val;
        }@else if type-of($val) == 'number'{
          $n-val:1/$val*100%;
          flex:0 0 $n-val;
        }
        // #{&g}{justify-content: flex-start;}
        >a{display:flex; align-items:center; justify-content:center; margin:0 $space+$space;}
      }
      >:first-child{
        >a{margin-left:0;}
      }
      >:last-child{
        >a{margin-right:0;}
      }
    }
  }
 
  
}
@mixin afterBefore($aftBef : ('_width':auto, '_height':auto,'_border':0 none, '_border-radius':50%, '_padding':0 )){
  display:block; content:''; width:map-get($map: $aftBef, $key:'_width'); height:map-get($map:$aftBef, $key:'_height'); border:map-get($map: $aftBef, $key:'_border'); border-radius:map-get($map: $aftBef, $key:'_border-radius'); padding:map-get($map: $aftBef, $key:'_padding');
}
@mixin posV_50($_dir:'left'){
  position:absolute; top:50%; transform:translateY(-50%); @if $_dir == 'left'{left:0;}@else{right:0;}
}
@mixin posH_50(){
  position:absolute; left:50%; transform:translateX(-50%);
}
@mixin afterBd($prop_bd:('_height':100%, '_bg_clr':#222)){
  content:""; position:absolute; right:0; top:50%; transform:translateY(-50%);  height:map-get($map:$prop_bd, $key:'_height'); background-color:map-get($map:$prop_bd, $key:'_bg_clr'); 
  width:1px; 
}
.flex-box{ @include flex-box }

@mixin alignFelxCenter( $_justify-conts:center){
  display:flex; align-items: center; justify-content: $_justify-conts;
}

@mixin btnCenter(){
  display:flex; justify-content: center; align-items: center; padding:20px 0;
  >*{flex:0 0 232px; margin:0 4px; height:62px; color:#fff; display:flex; justify-content: center; align-items:center;}
}

