
  /*공통*/
  .sub{
    .contents_sub_box{
      .contents_sub{
        $line-height:30px; 
        $bg-color:#eee;
        $bg-color_blue: #476dc2;
        section{ margin-top:30px; font-size:16px; line-height:$line-height;
          h1{font-size:26px; line-height:62px; font-weight:500;}
          .before_dot{position:relative; padding-left:10px;
            &:before{content:""; position:absolute; left:0; top:$line-height/2; width:$circle; height:$circle; border-radius:50%; background-color:#202020; transform:translateY(-50%);}
          }
          .before_dot_w{
            &:before{background-color:#fff;}
          }
        }
        .flex_box{
          display:flex; justify-content: space-between; flex-wrap:wrap;
          &.cnt_3{
            > *{ flex: 0 0 30%; }
          }
          &.cnt_4{
            > *{ flex: 0 0 24%; max-width:24%; }
          }
          .item_bg{ 
            display:flex; flex-direction:column; justify-content: space-between; background-color:$bg-color;
          }
          
        }

        .box_bg{padding:24px; background-color:$bg-color_blue; color:#fff;}
        .btn_blk{
          width:100px;height:32px; color:#fff;  background-color:#000; line-height:32px; text-align:center;
        }
      }
      
    }
  }

.page{
  
  /*공단소개 > 이사장 인사말 corp>cntns_greeting.html*/
  .greeting_view{
    .gt_show_box{padding-top:1px; height:595px; background-color:#dce3ed; background-image:url(../images/sub/corp/greeting_ceo.png); background-position:90% 0; background-size:contain; background-repeat:no-repeat; 
      .gt_show_txt{margin:80px 0 0 90px; box-sizing:border-box; padding-top:100px; width:316px; height:316px; background-color:#283f83; color:#fff; font-size:20px; line-height:28px; text-align:center;}
    }
  }
  .greeting_txt{margin-top:-153px; margin-bottom:78px;
    div{width:494px; height:578px; background-color:#fff;
      header{border-bottom:0 none; color:#273f7f;
        h1{font-size:30px; line-height:50px; font-weight:500; color:#273f7f;
          b{font-size:40px;}
        }
        p{font-size:20px; line-height:28px;}
      }
      div{font-size:16px; line-height:26px;
        p{margin:20px 0; 
          &:first-child{margin-bottom:8px;}
          &:nth-child(2){margin-top:8px;}
        }
      }
      
    }
    footer{
      text-align:right;
      em{display:inline-block; text-align:left; font-size:18px; line-height:22px;
      }
    }
  }

}

.sub{
    /*공단소개 > 일반현황 corp>cntns_gegeralStatus.html*/
    .height_296{
      li{box-sizing:border-box; padding-top:150px; padding-bottom:38px; text-align:center; font-size:14px; line-height:18px;background-repeat:no-repeat; background-position:50% 20%;
        .btn_blk{margin:40px auto 0 auto;}

        &:first-child{background-image:url(../images/sub/corp/ico_foundation_1.png); }
        &:nth-child(2){background-image:url(../images/sub/corp/ico_foundation_2.png); }
        &:nth-child(3){background-image:url(../images/sub/corp/ico_foundation_3.png); }
      }
    }
    .height_470{
      li{
        dl{margin:28px; flex:1 0 auto; word-break: break-all; hyphens: auto;
          dt{margin-bottom:16px; font-size:20px; line-height:20px; font-weight:500; }
          dd{line-height:20px;}
        }
      }
    }

    /*공단미션 비전*/
    .contents_sub_box {
      .missionVission{position:relative; 
        &:before{
          position:absolute; z-index:-1; left:70px; top:0; content:""; width:0; height:100%; border-left:1px solid #dddddd;
        }
        .msVs{padding-left:16px; display: flex; align-items: center;
          .tit{display:flex; justify-content: center; align-items: center; width:110px; height:110px; border-radius:50%; background-color:#eeeeee; font-size:18px; line-height:22px; margin-right:104px;
            span{display:block; text-align:center; }
          }
          .list_boxes{margin:0 auto; text-align: center;  padding-right:70px; width:calc(100% - 204px); /* .titl width: 110px; margin-right:104px; padding-right:70px;*/

          }
          &:nth-child(1){ 
            .list_boxes{
              font-size:20px; 
              em{font-size:30px; font-weight:500;
                strong{font-weight:700; color:#283f83; }
              }
            }
          }
          &:nth-child(2){
            .list_boxes{
              .circle_outer {display:flex; justify-content: center; align-items: flex-start;
                .circle_boxes { display: flex; justify-content: center ; align-items:center; flex:0 0 26%; border-radius:50%; padding:24px; margin:0 -10px;  color:#fff;
                  &:before{content:""; display:inline-block; width:0; padding-top:100%;}
                  &:nth-child(odd){background-color:rgba(50, 50, 50, 0.8); }
                  &:nth-child(even){background-color:rgba(240, 30, 120, 0.8); }
                  .txt_list{display:inline-block;  vertical-align: top; font-size:18px; line-height:22px; font-weight:300;
                    li{margin-bottom:14px;}
                  }
                  b{display:block; height:22px; }
                  span{display:block; height:22px;}
                  
                }
              }
            }
          }
          &:nth-child(3){background-color:rgba(200,200,200, 0.3); padding:30px 0 30px 16px; 
            .tit{background-color:#fff;}
            .list_boxes{
              ul{display: flex; justify-content: center; align-items: flex-start; 
                li{ display: flex; justify-content: center; align-items:center; flex:0 0 24%; padding:120px 0 0 0; margin:0 3px; background-color:#fff;
                  &:nth-child(1){background:#fff url(../images/sub/corp/mission_ico_01.png) no-repeat 50% 20%; }
                  &:nth-child(2){background:#fff url(../images/sub/corp/mission_ico_02.png) no-repeat 50% 20%; }
                  &:nth-child(3){background:#fff url(../images/sub/corp/mission_ico_03.png) no-repeat 50% 20%; }
                  &:nth-child(4){background:#fff url(../images/sub/corp/mission_ico_04.png) no-repeat 50% 20%; }
                  span{ box-sizing:border-box; width:100%; display:block; padding:30px 20px; font-size:16px; line-height:20px; background-color:#476dc2; color:#fff;
                  }
                }
              }
            }
          }
          &:nth-child(4){
            .list_boxes{
              ul{display: flex; justify-content: center; align-items: flex-start; 
                li{ display: flex; justify-content: center;  flex:0 0 24%; padding:0; border-radius:50%; margin:0 3px; background-color:#fff;
                  &:before{content:""; display:inline-block; width:0; padding-top:100%;}
                  span{display:flex; align-items: center; color:#fff;}
                  &:nth-child(1){background:#87cfff;}
                  &:nth-child(2){background:#527ee1;}
                  &:nth-child(3){background:#2d51b1;}
                  &:nth-child(4){background:#10278d;}
                }
              }
            }
          }
        }
        aside{background-color:#eee; padding:30px; margin-top:50px;
          h1{margin-bottom:24px; font-size:18px; line-height:26px; text-align:center; 
            em{color:#283f83;font-size:24px;}
          }
        }
      }
    }
    
}
.cntnsMngDeprt{ margin-top: 70px; padding: 42px 0 35px 0; border-top: 1px solid #dfdfdf; 
  footer{margin-bottom:34px;
    address{display:flex; justify-content: center;
      p{margin:0 15px;}
    }
  }
}

