
/* form관련 스타일 */
/*검색창*/
.p-dropdown .p-button, select.p-input, select.p-upload__file {padding: 0 0 2px 12px;-webkit-padding-end: 30px;-moz-padding-end: 30px;font-family: inherit;line-height: 27px;-webkit-appearance: none;-moz-appearance: none;cursor: pointer;min-width: 75px;}
select.p-input{background: #fff url(../images/arrow_dropdown.png) no-repeat right 8px center;}
.p-search,.p-button,.p-input {height: 42px; line-height:39px; }
.p-search-box{padding:17px 30px; }
.main-border {border:$border2;}
.button-color{color:#fff; background-color:#555555; }
.p-table {position: relative;width: 100%;border-collapse: collapse;margin: 2px 0 8px;}

/* 제목 내용 글상자 */
.board_txt_box{ padding:20px 15px; margin-bottom:20px; /*border-bottom:1px solid #222;*/
  &.civil{
    .tit_1{margin-bottom:0;}
  }
  .tit_1{margin-bottom:45px; font-size:26px; font-weight:500; line-height:1.4;}
  .txt{padding-left:30px; font-size:16px; line-height:30px;
    >li{position:relative; padding-left:30px;
      &:before{ @include afterBefore((_width:4px, _height:4px,_border-radius:50%)); background-color:#222; @include posV_50;}
      &.caution{margin-left:0; color:#ff0033}
    }
  }

  //고객광장 > 광나루365 > 주민참여 공모접수
  &.g_365{
    .tit_1{padding-left:26%; position:relative; margin-bottom:0; word-break: keep-all;
      &:before{ position:absolute; left:8%; top:50%; transform:translateY(-50%); @include afterBefore(('_width':76px, '_height':72px,'_border':0 none, '_border-radius':0, '_padding':0 )); background:url(../images/sub/custom/resident_part_tit.png) no-repeat 50% 50%/contain; }
      strong{display:block; margin-top:15px;}
    }
  }
}

/* 자주묻는 질문 */
.question_list{margin-top:50px;
  ul{display:flex; justify-content: space-between; flex-wrap:wrap;
    li{ flex:0 0 25%;
      a{ @include alignFelxCenter; margin:2px; height:60px; border:$border2; background-color:$bg-color2;}    
      &.active{
        a{border:0 none; background-color:#486ec3; color:#fff;}
      }
    }
  }
  
}


/* 검색창 바 */
.srch-box{
  //기본 크기 ----> 공단소개 등
  select.p-input{flex:0 0 33%;}
  input.p-search{flex:0 0 56%;
      &::placeholder {color:#000;}
  }
  //2개일 때 변경 ---> 정보마당 등
  &.news{
    input.p-search{flex:0 0 90%;}
  }
 
  //4개일 때 변경 --> 고객광장 등
  &.custom{
    select.sch_condition{flex:0 0 23%;}
    select.sch_type{flex:0 0 23%;}
    input.p-search{flex:0 0 41%;}
    button.p-button{flex:0 0 100px;}
  }

  button.p-button{flex:0 0 9%;} 
}
/* 테이블 */
.table-tit{margin-top:17px; height:30px; line-height:30px;
  .board_count, .current_pg {padding:0 5px; color:$color2;}
  .amount{font-weight:900;}
}
.p-table{border-top: 2px solid #222; background-color:#ffffff;
  /* 테이블 내부 th 공지*/
  .tit_notice{position:relative; color:#fff; margin:0 auto; width:47px; height:28px; color:#fff; 
    >em{position:absolute; z-index:1; left:0; top:0; width:100%; height:100%; line-height:26px;} 
    &::after{content:''; position:absolute; left:0; top:0; width:100%; height:100%; background-color:#e51873; }
  }

  th, td {padding: 13px 11px; border-bottom: 1px solid #d9d9d9; text-align:center; vertical-align: middle;font-size:16px; line-height:1.4;
      span{@include ell2;}
  }
  thead{
    th {background: #fbfbfb;color: #000;text-align: center;font-weight: 400;}
    th:nth-child(1){width:10%;}
    th:nth-child(2){width:40%;}
    th:nth-child(3){width:15%;}
    th:nth-child(4){width:12%;}
    th:nth-child(5){width:13%;}
    th:nth-child(6){width:10%;}
  }
  
  .flie{
    img{width:$fs-24;}
  }
  
  
}

/*----------- 등록하기 ------------*/
.caution {margin-left:10px; color:#ff0033;}
form{
  .register{ 
    h3{font-size:22px; font-weight:500; border-bottom:2px solid #222;}
    $bd_color:#dedede;
    section{ /* border:{left:1px solid #ddd; right:1px solid #ddd;} */
      &.info:last-of-type{border-bottom:1px solid #dedede;}
    $bg:#eee;
      .required, {margin-left:10px; color:#ff0033;}
      h1{ margin-top:30px; border-bottom:2px solid #222; font-size:26px; line-height:42px; font-weight:500;}
      //등록하기
      
      &.info{ border:{left:1px solid #dedede; right:1px solid #dedede;}
        input{height:40px; border:1px solid #dedede;}
        dl{display: flex; flex-wrap:wrap;
          dt,dd{ height:58px;  border-bottom:1px solid $bd_color; background-color:$bg;}
          div{position:relative; flex:0 0 50%; color:#222; 
            dt,dd{@include alignFelxCenter;}
            dd{background-color:#fff; font-size:15px; }
            &:nth-child(odd):after{@include afterBd( ('_height':100%, '_bg_clr':$bd_color));}
          }
          &.noFlex{display:block; 
            dt{@include alignFelxCenter; }
            dd{padding-left:30px; background-color:#fff; font-size:15px; @include alignFelxCenter(left);
              &.space_lr {height:auto; padding:10px 30px; justify-content:flex-start;
                textarea{border:1px solid $bd_color;}
              }
              &.noFlex{display:block;}
            }
          }
        }
      }//section.info End
      /* 공단통합민원센터 등록 */
      &.pub{
        dd.choice{
          span{display:flex; margin:0 10px;
            label{order:2;}
            input[type='radio']{margin:0 5px; width:auto; height:auto; appearance: radio;width:18px; height:18px; order:1; }
            input[type='checkbox']{width:auto; height:auto; appearance: checkbox;}
            input[type='radio']:checked{accent-color: #000;}
          }
          
        }
        
      }
      &.tit, &.category, &.txt{
        h1{}
        p{padding:27px 30px; background:$bg;
          input, select{height:42px; border:1px solid $bd_color;}
        }
        p#civil_reg_txt{height:230px;}
        
      }
      &.add_file{
        h1{}
        .input_file{padding:27px 30px; 
          .file_focus {outline: 2px solid #000;}
          >*{vertical-align:middle;}
          .file_name {display:inline-block; width: 40%; height: 40px; line-height: 26px; text-indent: 5px; border: 1px solid $bd_color; color: #999999;}
          label{display: inline-block; padding: 10px 20px;color: #fff;vertical-align: middle;background-color: #555555;cursor: pointer;height: 40px; margin-left: 10px;}
          input[type="file"]{position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0, 0, 0, 0);border: 0 none;}
          
        }
        &.info{
          .input_file{padding:0;
            
          }
        }
      }
      &.pub{ margin-bottom:70px;
        ul{display:flex; justify-content: flex-start; padding:15px 0;
          li{flex:0 0 10%; display:flex; align-items: center;
            label{flex:0 0 60px; order:2; margin-left:10px;}
            input[type="radio"]{ -webkit-appreance:radio; -ms-appreance:radio; appearance: radio; width:18px; height:18px; order:1;}
            input[type="radio"]:checked{accent-color:#000;}
          }
        }
      }
      
    }//공통 section End
    .btn_box{@include btnCenter; 
      >input{cursor:pointer; height:60px;}
      input[type="submit"]{background-color:#486ec3;}
      input[type="reset"]{background-color:#555555;}
    }
  }
  .btn_box.basic{display:flex; justify-content:center; align-items:center; margin-top:60px; text-align:center; line-height:60px;
    button{}
    a{width:234px; height: 60px; background-color:#476dc3; color:#fff;}
  }
}//form End





/*------------------ 게시판 ----------------*/
.p-list{border-top: 2px solid #222; background-color:#ffffff; @include flex-box((flex_val:4));
  $bbs_category:&; //조상요소 선택하기 #1
  &.count3{@include flex-box((flex_val:3,justify_val:flex-start));}
  &.count2{@include flex-box((flex_val:2,justify_val:flex-start));}
  &__item {position:relative; height:auto;
    $item:&;
    .link_img{ position:relative; z-index:1; display:flex; flex-direction: column; justify-content: center; align-items: center; min-height:300px; padding:0 5px;
      .reference_spot{ display:block; position:relative; margin-bottom:15px; width:100%; padding-top:60%; //이미지 크기 비율 정하기
        $bbs_img_reference:&;//조상요소 선택하기 #2       
        #{$bbs_category}.question_lib &{padding-top:78%;
          &::after{ content:''; position:absolute; z-index:1; left:0; top:0; width: 100%; height:100%; background-color:rgba(0,0,0,.5); opacity:0; transition:all .3s ease; text-align:center; font-size:30px; line-height:7.5; color:#fff;
            @include maxWidth(1300px){
              font-size:24px;
            }
          }
          
          &:hover::after{ display:block; opacity:1; }
        }
        img{position:absolute; left:50%; top:50%; transform:translateX(-50%) translateY(-50%);   width:100%; height:100%;
          /* 조상요소 선택하기 #2*/
          #{$bbs_category}.news &{ width:auto; max-width:46%; height:100%; } //공단소식지 이미지 크기 별도
          
          &.none{width:auto; height:100%;} //기본 이미지 없음.
          #{$bbs_category}.question_lib &.none{width:auto; height:77.5%;} //자주묻는 질문 이미지 없음.
        }

        @for $i from 1 through 4 {
          @if $i == 1 { @at-root #{$bbs_category}.question_lib #{$item}:nth-child(#{$i}) .reference_spot:after {content:'광진정보도서관'} }
          @else if $i == 2 { @at-root #{$bbs_category}.question_lib #{$item}:nth-child(#{$i}) .reference_spot:after {content:'자양한강도서관'} }
          @else if $i == 3 { @at-root #{$bbs_category}.question_lib #{$item}:nth-child(#{$i}) .reference_spot:after {content:'중곡문화체육센터도서관'} }
          @else if $i == 4 { @at-root #{$bbs_category}.question_lib #{$item}:nth-child(#{$i}) .reference_spot:after {content:'군자도서관'} }
        }
      }//.reference_spot End
      .tit_txt{
        font-size:$fs-16; letter-spacing: -1px;
        .season{ 
          font-size:$fs-15;
        }
      }
    }
  }
  &.bg>li:after{content:''; position:absolute; left:0; bottom:0; width:100%; height:50%; background:#eeeeee;}
  //공단소개 > 미디어 > 동영상
  &.vid>li{
    .item_img{position:relative; 
      &::after{content:''; position:absolute; left:50%; top:40%; width:25%; padding-top:25%; border-radius:50%; transform:translateX(-50%) translateY(-50%); background:url(../images/sub/common_board/vid_play_pic.png) no-repeat 50% 50%/contain; }
    }
  }
  
  //고객광장 > 자주묻는 질문
  &.question_lib{padding-top:20px;
    &___item{
      .link_img { 
        &:hover:after{ content:''; @include afterBd(('_height':100%, '_bg_clr':#000)); left:0; width:100%; opacity:0.5;}
        img{ width:100%; height:77.5%;}
      }
    }
    
  }

  //고객광장 > 광나루365 > 주민참여접수
  &.g_365.residence{@include flex-box(('flex_val':2, 'justify_val':space-between, 'align_val':center, 'a_margin':0px)); border:0 none;
    li{margin-bottom:15px; 
      &:nth-child(odd){
        a{margin-right:6px}
      }
      &:nth-child(even){
        a{margin-left:6px;}
      }
      a{
        div{
          .residence_tit{margin-bottom:18px;padding:12px 20px;border-top:2px solid #222; border-bottom:$border2; background-color:$bg-color2; line-height:30px;
            span{line-height:30px; @include ell2; color:#222;}
          }
          .g_365_bbs_box{display:flex; padding:12px 20px;
            .custom_left{ flex:0 0 75%;
              span{position:relative; display:block; padding-left:15px;font-size:15px; line-height:30px; color:#7e7e7e; 
                &:before{ @include  posV_50(); @include afterBefore(('_width':4px, '_height':4px,'_border':0 none, '_border-radius':50%, '_padding':0 )); background-color:#4c4c4c;} 
                .tit{ margin-right:5px; letter-spacing:1px;}
                .date_p_0{margin-left:5px;}
                .date_pd_0{margin-left:5px;}
              }
              .period{}
              .pub_date{
                .tit{}
              }
            }
            .custom_right{ position:relative; flex:0 0 25%; @include alignFelxCenter;
              &:before{ @include afterBd(('_height':100%, '_bg_clr':#222)); left:0; left:0; }
              strong{ @include alignFelxCenter; width:76px; height:34px; color:#fff; font-size:13px; font-weight:500;
                &.accept_ing{background-color:#486ec3;}
                &.accept_done{background-color:#000;}
                &.accept_before{background-color:#283f83;}
              }
            }
          }
        }
      }
    }
  }

  /*----------- 공단통합민원센터 및 공통 Q_A -----------*/
  &.q_a{border-top:2px solid #222; 
    .q_a_list{flex:0 0 100%; $left_space:115px; margin-bottom:10px; border:1px solid #bbbbbb;
      &.none{text-align:center; line-height:80px; border-bottom:2px solid #222;}
      a{display:block;
        //질문
        div{display:flex; padding:8px 0; border-bottom:1px solid #ddd; background:#eeeeee;
          .q{display:flex; justify-content:center; align-items:center; flex:0 0 $left_space; position:relative; margin-right:38px; font-size:46px; font-weight:600; color:#222; 
            &:after{@include afterBd(('_height':100%,'_bg_clr':#888 ));}
          }
          .txt_q{ padding:5px 0; color:#222;
            dt{font-size:16px; line-height:26px;}
            dd{font-size:18px; line-height:32px;}
          }
        }
        //답변내용
        .q_a_txt_box{ display:flex; flex-wrap:wrap; padding : {left:$left_space; top:15px; bottom:15px;}
          >li{ flex:0 0 33.3333%; font-size:14px; line-height:30px; 
            .tit_q_a_sm{
  
            }
            .txt_q_a_sm{
  
            }
            .txt_q_a_sm_5{display:inline-block; margin-left:10px; width:76px; height:34px; text-align:center; line-height:34px; color:#fff;
              &.done{background-color:#555555;}
              &.waiting{background-color:#283f83;}
              &.receive{background-color:#476dc3;}
            }
            
          }
        }
        //답변 자주묻는 질문
        .txt_a{display:flex; padding:40px 0; 
          dt{display:flex; justify-content:center; align-items:center; flex:0 0 $left_space;  position:relative; margin-right:38px; font-size:46px; font-weight:600; color:#aaa;
            &:after{ @include afterBd(('_height':100%,'_bg_clr':#cccccc )); }
          }
          dd{}
        }
      }
    }
  }
}
/* -------- 파일 없음 -------*/
.slct_list{ //선택페이지 
    .details_view_info{min-height:520px; background:#eeeeee;
      strong{display:none; font-size:26px; font-family:'Noto sans'; color:#222222;}
    }
    &.none{display:block; position:relative; padding:20px;
      strong{display:block; position:absolute; left:50%; top:50%;  transform:translateX(-50%) translateY(-50%); 
        &:after{
          position:absolute; left:50%; bottom:100%; content:''; width:20%; padding-top:20%; transform:translateX(-50%); background: url(../images/sub/common_board/text_none_pic.png) no-repeat 50% 50%/contain;
        }
      }
    }
    
}

/*페이징*/
.p-pagination {position: relative; display: table; margin: 30px auto;}
/*각 페이징 요소*/
.p-page__link {display: table-cell;position: relative;width: 40px;height: 40px;margin-left: 0;margin-right: 0;text-align: center;font-size: .95em;color: #222;line-height: 40px;letter-spacing: -2px;vertical-align: middle;border-top: solid 1px #dedede;border-right: solid 1px #dedede;border-bottom: solid 1px #dedede;background: #fff;
  &.active {position:relative; border-color: #202e70;background: #202e70;color: #fff;font-weight: 400;}
  &.active:after {content:''; display: block;position: absolute;left: 50%;bottom: 8px;transform: translateX(-5px);width: 12px;height: 1px;background: rgba(255,255,255,.8);}
}
/*페이징 컨트롤 맨뒤로 이전 버튼*/
.p-page__control {display: inline-block;margin: 0 3px; vertical-align: top; 
  .next-end, .next, .prev-end, .prev {border:0 none;}
  .next-end:before, .next:before, .prev-end:before, .prev:before {content:'';display: inline-block;width: 18px;height: 18px;margin-top: -2px;background-repeat: no-repeat;background-position: center center;background-size: 16px 18px;vertical-align: middle;}
  .prev-one:before,.prev:before{content:'';width:10px;height:18px;background-image:url(../images/arrow-left-64.png);background-size:10px 18px; }
  .prev-end:before{content:'';background-image:url(../images/double-arrow-left-64.png);background-size:18px 18px;  }
  .prev-one, .next-one {display: none;background: 0 0;}
  .next:before {content:'';width: 10px;height: 18px;background-image: url(../images/arrow-right-64.png);background-size: 10px 18px;}
  .next-end:before {content:'';background-image: url(../images/double-arrow-right-64.png);background-size:18px 18px; }
}
.addr{margin-top:70px; padding:42px 0 35px 0; border-top:$border2;text-align:center; 
  >span{padding:0 20px;
    .bar{padding:0 5px; vertical-align: 1px;}
  }
  img{@include imgSize(18px, -3px); margin-left:5px;}
  a{display: inline-block;}
}
/* bg 관련 */
.p-bg {background-color:$bg-color3;}


/*만족도 조사*/
.satisfaction_box{ padding:32px 52px; background-color:$bg-color3;
  form{
    div.top{position:relative;  display:flex; align-items:center; margin-bottom:30px; height:90px; 
      h1{ flex:0 0 15%; font-size:$fs-23; word-break: keep-all;
        &::after{content:''; position:absolute; left:15%; top:0; height:100%; border-right:$border1;}
      }
      dl{flex:0 0 85%; display: flex; justify-content: flex-start; align-content: stretch; flex-wrap: wrap; font-size:$fs-16; padding-left:40px;
        @include maxWidth($web){padding-left:30px;}
        dt{flex:0 0 100%; margin-bottom:18px;}
        dd{flex:1 0 auto; 
          @include maxWidth($web){
            &:nth-child(n){
              flex:0 0 50%;
            }
          }
         input[type=radio]{position:relative; padding:0; margin:0; margin-right:5px; display:inline-block; width:14px; height:14px; border-radius: 50%; border:1px solid #222222; vertical-align: -1px;cursor:pointer;
            &[type=radio]:checked:after{content:''; position:absolute; top:50%; left:50%; transform:translateX(-52%) translateY(-52%);  width:70%; height:70%; border-radius: 50%; background-color:#000000;}
          }
          label{cursor:pointer;}
          span{margin-right:5px}
        }
      }
    }
    
    div.bottom{display: flex; justify-content: space-between; align-items: stretch;
      textarea{flex:0 0 86%; }
      button{flex:0 0 12.5%; }
    }
  }
  &.question{
    form{ display:flex; justify-content: space-between;
      div.top{display: block;
        h1{line-height:56px;
          &:after{display:none;}
        }
        dl{padding:0; height:36px; align-items:center; }
      }
      button{width:116px;}
    }
    
  }
}

/* 게시판 목록 선택 상세 보기 페이지 */
.details_view_box{
  //제목 부분
  header{padding:15px; border-bottom:1px solid #999; 
    h1{ margin-bottom:13px; font-size:$fs-26; line-height:1; color:#222;}
    address{font-size:$fs-15;  color:#222;
      .bar{margin:0 5px; vertical-align: 1px;}
    }
  }

  //제목 부분 공단통합민원센터 Q&A
  .question_a{
    header{margin-top:50px; border-bottom:0 none; background-color:#eee;}
  }

  //공단통합민원센터 question 버튼
  .question_q{ 
    .btn_box{@include btnCenter;
      
      .btn_fix{background-color:#486ec3;}
      .btn_del{background-color:#555555;}
      a{color:#222; border:1px solid #222;}
    }
  }


  .bbs_pic{
    div.flex-box{ align-items:flex-start;  padding:40px;
      table{margin:30px 45px;
        th{width:30%; text-align:left;}
        td{}
      }
    }
    &.vid{
      div.flex-box{padding:40px 130px;
        >*{ width:100%;}
      }
    }
  }
  .bbs_txt{padding:40px 15px; border: { top:2px solid #222;; bottom:2px solid #222;}
    &:nth-of-type(2){}
  }//.bbs_txt End
  .question_a{
    .bbs_txt{margin-bottom:50px; border-bottom:0 none;}
  }
  .bbs_file{margin-top:40px; 
    h1{padding:15px; border-bottom:2px solid #000;font-size:$fs-26; line-height:1;}
    ul{padding:15px;
      li:not(:last-child){margin-bottom:10px;}
      li{
        a{ color:#222;}
        .ico_file{margin-right:15px}
        .file_txt{margin-right:40px;
          &:hover{text-decoration:underline;}
        }
        .btn_bbs_down{display:inline-block; width:87px; height:28px; border:$border2; text-align: center; 
          &:hover{border:$border1; color:#000;}
        }
      }
    }
  }
  .bbs_view_details, .sign{
    h1{padding:15px; border-bottom:2px solid #000;font-size:$fs-26; line-height:1;}
    div{padding:20px;
      .view_conts{ margin-bottom:350px;
        .view_tit{ width:10%; height:28px; text-align:left;}
        .view_conts{height:28px;}
      }
    }
  }
  &.g_365{
    .bbs_view_details, .sign{ border-bottom:1px solid #222;
      div{
        .view_conts{margin-bottom:0;}
      }
    }
    .sign{border-width:2px;}
  }
  
  .p-move{ border-bottom:1px solid #000;
    >li{padding-left:15px; display:flex; align-items:center; height:42px; border-top:1px solid #ddd;
      .p-move-title{position:relative; padding-right:12px; 
        &:after{content:''; position:absolute; right:0; top:50%; transform:translateY(-50%);  height:16px; border-left:1px solid #000;}
      } 
      .p-move-link{padding-left:12px; }
    }
    
  }
  /*버튼*/
  // 목록 보기 
  .show-bbs-list-box{ overflow:hidden; text-align:right; 
    .show-bbs-ist{margin:30px auto 80px auto; padding:12px 30px;  width:234px; height:60px; line-height:36px; text-align:center; background: #476dc3; color:#fff;}
  }
  &.g_365{
    
    .show-bbs-list-box{display:flex; justify-content: space-between; text-align:left; 
      >*{vertical-align: middle;}
      span:first-child{ display: flex; align-items: center;
        .show-bbs-ist{margin-right:10px; margin-bottom:30px; width:128px; background:#fff; color:#222; border:1px solid #222;} 
        em{color:#ff0033;}
      }
      span{
        .show-bbs-ist{display:inline-block; width:118px; margin-bottom:30px;
          &.certified{vertical-align: middle;}
        }
      }
      
    }
  }


 

}

/* 비인가 나의 접수확인 */
.g_365 + form >.tit_1{margin-bottom:20px; font-size:26px; font-weight:500; line-height:1.4;}
.board_txt_caution{padding:20px; border:1px solid #dedede;
  h3{margin-bottom:15px;
    .caution{margin-left:0;}
  }
  ol{ padding-left:15px;
    li{list-style:decimal; padding:7px 0; padding-left:5px; font-size:16px; line-height:1; 
      table{margin-top:10px;  margin-bottom:20px; border-top:2px solid #222; 
        th, td{height:58px; vertical-align:middle; text-align:center; border:1px solid  #ddd;}
        thead{
          tr{background-color:#cccccc;
            th{font-weight:500;}
          }
        }
        tbody{font-size:15px;
          tr{
            th{font-weight:500; height:58px; background-color:#eeeeee;}
            td{height:58px;}
          }
        }
      }
    }
  }
  >p.caution{font-size:14px;}
  dl{ word-break:keep-all;
    div{margin-top:16px;}
    dt{position:relative; padding-left:12px; margin-bottom:6px; font-size:16px; line-height:20px; color:#232323; font-weight:500;
        &:after{ @include afterBefore(('_width':4px, '_height':4px,'_border':0 none, '_border-radius':50%, '_padding':0 )); background-color:#fe0036; @include posV_50;}
    }
    dd{position:relative; margin-left:12px; margin-bottom:4px; padding-left:12px;font-size:15px; line-height:19px; color:#202020;
      &:after{ @include afterBefore(('_width':6px, '_height':1px,'_border':0 none, '_border-radius':0, '_padding':0 )); background-color:#222222; @include posV_50; top:8px;}
    }
  }
  &+p{position:relative; margin-top:25px; text-align: left;
    label{position:absolute; left:30px; }
    input[type="checkbox"]{display:inline-block; text-align:left; appearance:checkbox; width:auto;}
  }
  &+p+.btn_box{display:flex; margin-top:45px; justify-content: center;
    li{ flex:0 0 270px; margin:0 5px; border:1px solid #dddddd; height:60px; text-align:center; color:#fff; background-color:#486ec3;
      a,button {position:relative; width: 100%; height:100%; @include alignFelxCenter; color:#fff; 
        span{ @include posV_50; @include afterBefore(('_width':16px, '_height':28px,'_border':0 none, '_border-radius':0, '_padding':0 )); left:20px; background:url(../images/sub/custom/ico_lock.png) no-repeat 0 0/contain;}
      }
      &:nth-child(2){ background-color:#eeeeee; 
        a, button{color:#222;
          span{  background:url(../images/sub/custom/ico_cellphone.png) no-repeat 0 0/contain;}
        }
      }
      
    }
  }
}

/* 공모접수확인 */
.details_view_box{
  //제목 부분
  p.guide{padding:40px 0;}
  &.residenceConfirm{
    header{border-bottom:2px solid #222;
      h1{ margin-bottom:0; height:30px; line-height:30px;}
     
    }
    .info{
      p{ padding:30px; padding-bottom:70px;
        background-color:#eeeeee;
      }
    }
  }
  p.btn_box{
    a{border:1px solid #222; color:#222;}
  }
  
}

/* 클린 신고 */
.clean{
  header{
    .report_header_txt{position:relative; padding-left:20px; 
      &:before{@include posV_50; @include afterBefore(('_width':4px, '_height':4px,'_border':0 none, '_border-radius':50%, '_padding':0 )); background-color:#e61874; }
    }
  }
  
  .report_list{padding-top:25px; display:flex; flex-wrap:wrap; 
    section{ flex:0 0 50%; 
      div{margin:5px 0 5px 0; padding:15px; height:236px; border:1px solid #dddddd;color:#222;
        h1{position:relative; text-align:center; font-size:20px; line-height:64px; font-weight:500;
          span.report_icon{display:block; margin:0 auto; width:93px; height:77px; background-position:50% 50%; background-repeat:no-repeat; background-size:contain; 
            &.decoy{background-image:url(../images/sub/custom/clean_icon_decay_off.png);}
            &.sexual{background-image:url(../images/sub/custom/clean_icon_sexualCrime_off.png);}
            &.unJust{background-image:url(../images/sub/custom/clean_icon_unJust_off.png);}
            &.smAdmin{background-image:url(../images/sub/custom/clean_icon_smAdmin_off.png);}
          }
          &:after{@include afterBd(('_height':1px, '_bg_clr':#ddd)); left:0; top:calc(100% + 20px); transform:translateY(0); width:100%; }
        }
        p{display:flex; align-items:center; justify-content: space-between; height:40px; margin-top:30px; padding-left:20px; font-size:16px; line-height:20px;
          span{@include ell2;}
          a{margin-right:20px; text-align:center; width:118px; height:32px; line-height:32px; background-color:#283f83; color:#fff;font-size:16px;}
        }
      }
      &:nth-child(odd){
        div{margin-right:5px;}
      }
      &:nth-child(even){
        div{margin-left:5px;}
      }
      &.on, &:hover{
        div{background-color:#476dc3;color:#fff;
          h1{
            span.report_icon{
              &.decoy{background-image:url(../images/sub/custom/clean_icon_decay_on.png);}
              &.sexual{background-image:url(../images/sub/custom/clean_icon_sexualCrime_on.png);}
              &.unJust{background-image:url(../images/sub/custom/clean_icon_unJust_on.png);}
              &.smAdmin{background-image:url(../images/sub/custom/clean_icon_smAdmin_on.png);}
            }
          }
          p{
            a{background-color:#222; }
          }
        }
      }
    }
  }

}

/* 부패 등 공익신고 < 클린신고 */
.clean{
  &.call{
    header{
      h1{margin-bottom:0;}
    }
    dl{padding:25px 15px;
      dt{margin-bottom:5px; font-weight:500; font-size:20px; line-height:35px; }
      dd{position:relative; padding-left:22px; font-size:14px; line-height:30px;
        &:before{@include posV_50; @include afterBefore( ('_width':4px, '_height':4px,'_border':0 none, '_border-radius':50%, '_padding':0 ) ); background-color:#e61874;}
      }
    }

    .report_call{ display:flex; 
      dl{height:240px;
        &.call{flex:0 0 330px; display:flex; align-items: center; flex-direction:column; background-color:#eeeeee; text-align:center; border:1px solid #e0e0e0;
          dt{padding-top:50px; 
            .ico_call{display:block; width:69px; height:69px; background:url(../images/sub/custom/icon_call.png) no-repeat 50% 50%/contain; }
          }
          dd{padding-left:0; font-size:30px; font-weight:500;
            &:before{display:none;}
          }
        }
        &.call_txt{flex:1 0 auto; padding:35px 45px; margin-left:10px; border:1px solid #ddd; 
          dt{}
          dd{
            &:before{ background-color:#222;}
          }
        }
      }
    }
    p.btn_box{margin-top:30px; 
      a{@include alignFelxCenter; margin:0 auto; width:232px; height:62px; background-color:#476dc3; color:#fff; border:0 none;}
    }
  }
}

/* 클린신고하기 */
form.clean_call_register{
  h3{font-size:22px; font-weight:500; line-height:60px; }
  .register{
    .info{
      dl.noFlex{
        dd{border-bottom:0 none;}
        dd.caution{border-top:0 none; border-bottom:0 none;}
      }
    }
    
  }
}

/* 이사장에게 바란다 > 목록 > 다이어그램 */

.step{
  ol{padding:30px 60px; display:flex; justify-content: space-around;
    li{position:relative; @include alignFelxCenter; width:120px; height:120px; border-radius:30px; transform:rotate(45deg);
      &:nth-child(1){background-color:#87cfff;}
      &:nth-child(2){background-color:#527ee2;}
      &:nth-child(3){background-color:#2d51b1;}
      &:nth-child(4){background-color:#10288d;}
      span{position:relative; display:block; transform:rotate(-45deg); color:#fff; font-size:22px; font-weight:500;
        strong{position:absolute; @include posH_50; top:-20px; word-break: keep-all; font-size:16px; font-weight:100;}
      }
      &:not(:last-child):after{ content: ""; position: absolute; right: -15%; top: -15%; border-top: 4px solid #eeeeee; border-right: 4px solid #eeeeee; width: 16px; height: 16px; }
    }
  }
  p.btn_box{ margin-top:20px;
    a, button{width:234px; height:42px; background-color:#555555; color:#fff; text-align:center; line-height:42px; font-size:14px; }
  }
  &.join{
    ol{padding:60px; 
      li{background-color:#eeeeee; 
        span{color:#222;}
        &.on{background-color:#476dc3; 
          span{color:#fff;}
        }
      }
    }
  }
} // .step End


