

.page_spot {height:150px;text-align:center; padding-top:50px;margin-top: 122px;position:relative;overflow:hidden;font-size:46px; font-weight: 500;background-repeat:no-repeat;background-size:115% auto;background-position:50% 50%; z-index:-1;animation: bg-zoom 3s; animation-fill-mode:forwards;
    background-image:url(../images/bg_pagespot_1.png);
    &.corp {background-image:url(../images/bg_corp.png);}
    &.site {background-image:url(../images/bg_site.png);}
    &.sustain_manage {background-image:url(../images/bg_sustain_manage.png);}
    &.registeration {background-image:url(../images/bg_login.png);}
    &.login {background-image:url(../images/bg_login.png);}
    &.custom {background-image:url(../images/bg_custom.png);}
    &.facility {background-image:url(../images/bg_facility.png);}   
    &.info {background-image:url(../images/bg_pagespot_1.png);}
    @keyframes bg-zoom {
      from {background-size:auto 115%;}
      to {background-size:auto 100%;}
    }
    span {display:block;margin-top:9px;font-size:18px;font-weight:400;}
    @include maxWidth($tab){
      height:180px;padding-top:53px;font-size:31px;
      span {font-size:15px;margin-top:6px;}
    }
    @include maxWidth($m720){
        box-sizing:content-box; height:100px;padding-top:35px;font-size:21px;
        &.corp {background-image:url(../images/bg_corp.png);}
        &.site {background-image:url(../images/bg_site.png);}
        &.sustain_manage {background-image:url(../images/bg_sustain_manage.png);}
        &.registeration {background-image:url(../images/bg_login.png);}
        &.login {background-image:url(../images/bg_login.png);}
        &.custom {background-image:url(../images/bg_custom.png);}
        &.facility {background-image:url(../images/bg_facility.png);}   
        &.info {background-image:url(../images/bg_pagespot_1.png);}
        background-size:cover;
      span {font-size:11px;margin-top:3px;}
    }


    /*sub 페이지 제목*/
    .sub_title { font-family: 'Noto Sans'; font-weight:500; font-size: $fs-42;  line-height:1; color:#222;
        @include maxWidth($m720){font-size:24px; }
    }
    
}


main.sub{ @include clear; 
    .contents_sub_box{display: flex;
        .lnb{flex:0 0 256px; position:relative; top:-50px; 
            > h1 {display:block;width:100%;border-bottom:8px solid #e51873; font-size:32px;color:#fff;text-align:center;line-height:148px; background-color: #283f83; margin-bottom:10px;font-weight: 300;}
            .dep2{
                > li {border-bottom:1px solid #dde1ea;
                    > a{display:block;padding:15px 0;position:relative;font-weight:400;line-height:1.25;
                        &.menu_btn {
                            &:after {content:'';position:absolute;right:20px;top:50%;transform:translateY(-50%);width:12px;height:12px;background:url(../images/arrow_lnb_off.png) no-repeat center;transition:all 0.3s;}
                        }
                    }
                    &:last-of-type{border-bottom:0;}
                    &.active, &.selected{
                        > a {font-weight: 600;
                            &.menu_btn {
                                &:after {background-image:url(../images/arrow_lnb_on.png); transform:translateY(-50%) rotate(-180deg);}
                            }
                        }
                        >ul{
                            display: block;
                        }
                    }
                    // &.selected {
                    //     > a {padding-left:43px;
                    //           color: #a47e4f; 
                    //         &:before {width:10px;}
                    //         &.menu_btn {
                    //             &:after {background-image:url(../images/arrow_lnb_on.png);transform:translateY(-50%) rotate(-90deg);}
                    //         }
                    //     }
                    //     > ol {display:block;}
                    // }
                    > .dep3 {display:none;border-top:1px solid #dde1ea;font-size:15px;
                        li {
                            a {color:#555;position:relative;padding-left:11px;margin:4px 0;
                                &:before {content:''; border:{top: 1px solid #222; right:1px solid #222;}; width:4px;height:4px; position:absolute;left:0; top:50%; transform: translateY(-70%) rotate(45deg); }
                                // &[target="_blank"]{
                                //     &:after{
                                //         padding-right:20px;background:url(../images/icon_lnb_link.png) no-repeat right center;content:'';
                                //     }
                                // }
                            }
                            &.selected,&.active {
                                a {color:#316ed2;text-decoration:underline;text-underline-offset: 0.2em;
                                    &:before {border-color:#316ed2; background-color:rgba(49,110,210,0.1);}
                                }
                            }
                        }
                    }
                }
            }
            /* @include minWidth($tab){     
                .dep2{
                    > li {
                        > a{
                            &:hover {
                            color: #fff;background-color:#2f457c;box-shadow:12px 12px 16px rgba(0,55,128,0.18);
                            }
                        }
                        .dep3 {
                            li {
                                a:hover {color:#316ed2;text-decoration:underline;text-underline-offset: 0.2em;
                                    &:before {background-color:#316ed2;}
                                }
                            }
                        }
                    }
                }
            } */
           
            
            
        }
        /* --------- 오른쪽 컨텐츠 article ----------*/
        .contents_sub { flex:0 0 auto; width:calc(100% - 256px);padding-top:46px;padding-bottom:100px;padding-left:82px;position:relative;
            &.sch_result {width:100%;padding-left:0;}

            .tit_md{background: url(../images/h3_tit.png)no-repeat top left; font-size: 22px; font-weight: 500; font-family: 'noto sans';padding-top: 17px;margin-bottom:15px;color:#000;
                + p {margin-bottom:15px;}
                @include maxWidth($m720){font-size: 19px; margin-bottom: 15px; padding-top: 10px;}
            }
            .tit_sm{background: url(../images/icon_dep2.jpg) no-repeat 0 1px / auto 20px; font-size: 18px; margin-bottom:15px; padding-left: 25px; line-height: 22px; margin-top: 30px;color:#000;
                + p {margin-bottom:15px;}
                @include maxWidth($m720){font-size: 18px; margin-bottom: 10px;
                + p {margin-bottom:10px;}
                }
            }
            .tit_xs {color:#000;font-size:17px;margin-bottom:7px;
                ~ p {font-size:15px;margin-bottom:4px;}
            }
            .title{text-align: center; display: table; margin: 0 auto 40px;
                span{display: table-cell; vertical-align: middle; font-size: 25px; padding: 0px 40px 0; background: url(../images/h2_L.jpg) left top no-repeat, url(../images/h2_R.jpg) right top no-repeat; height: 52px; line-height: 1.2em;}
                + p {text-align:center;font-size:15px;color:#555555;margin-top:-15px;margin-bottom:40px;}
                @include maxWidth($m720){display:block;text-align:left;margin-bottom:20px;
                span {font-size:20px;padding:0;background:none;height:auto;display:block;}
                + p {text-align:left;font-size:14px;margin-top:-10px;margin-bottom:20px;
                    br {display:none;}
                }
                }
            
            }
            

            .dep{
                &.term {
                color:#555;font-size:15px;
                table tr {
                    th {font-size:15px;}
                    td{
                    font-size:15px;color:#555;
                    }
                }     
                
                }
            >li{margin-top: 60px;
                &:first-child{margin-top: 0;
                }
                >ol{
                >li{margin-top: 30px;
                    &:first-child{margin-top: 0;}
                    > ol {
                    > li {margin-top:15px;
                        &:first-child{margin-top: 0;}
                    }          
                    }
                }
                }
            }
            @include maxWidth($m720){
                > li {margin-top:30px;
                > ol {
                    > li {margin-top:20px;
                    > ol {
                        > li {margin-top:10px;}
                    }
                    }
                }
                }
            }
            }

             /* 컨텐츠 타이틀 바*/
             /* 페이지 로케이션 */
            .sub_top {@include clear; display:flex;justify-content: flex-end;padding-bottom:10px;border-bottom:1px solid #999;line-height:33px;
                > ol{display:flex; justify-content: flex-end; flex-wrap:wrap; align-items:center; list-style: none; counter-reset: list 0;//타이틀바 로게이션 
                    > li{padding-left:22px;line-height:33px; position: relative;
                        &::before{content: counter(list, decimal);counter-increment: list; color:#222; clip: rect(1px 1px 1px 1px); clip-path:inset(50%);  position:absolute; display: inline-block; width: 1px; height:1px; margin-left: -1em}
                        &::after{ position: absolute; content: '>'; top: 0; left: 10px;display: block;}
                        a {color:#222;display:inline-block;}
                        &:first-of-type {padding-left:0;background-image:none;
                            img {vertical-align:-1px;}
                            &::after{display: none;}
                        }
                        &:nth-last-of-type(3) {
                            //a {color:#316ed2;}
                        }
                        &:nth-last-of-type(2) {
                            //&::before{display: none;}
                        }
                        &:last-child{
                            a{font-weight:700;}
                           // &::before{display: none;}
                        }
                    }
        
                }  
                /* sns 공유 기능과 프린트 */
                >ul{ @include align(middle,16px);  flex:0 1 auto; display: flex; align-items:center;
                    li{width:34px; height:34px; text-align:center;}
                    .share {display:inline-block;padding-left:0;background:none;margin-left:25px;position:relative; overflow:hidden;
                        button {background-image:url(../images/btn_share_off.png);width:17px;height:17px;vertical-align:middle;background-repeat:no-repeat;background-position:center;background-size:80% auto;transition:all 0.3s;}
                        .share_box {position:absolute;top: 34px;right: 0;width: 34px;
                            ul{border:1px solid #000; box-shadow:8px 8px 25px 0 rgba(0,0,0,0.12);
                                &:before{position:absolute;right:25px;top:-12px;width:17px;height:12px;background:url(../images/arrow_share.png) no-repeat center;content:'';}
                                li:not(:last-child) {border-bottom:1px solid #000;}        
                            }
                        }
                        &.active {position:relative;overflow:visible;
                            button{background-image:url(../images/btn_share_on.png);}
                            .share_box {display: block;padding: 0;background: #fff;
                                ul{display: block; width: 34px;
                                    li{display:block; text-align: center;}
                                }
                                .share_close{ position:absolute; top:-35px; width:34px; height:34px; 
                                    a{height:34px; }
                                }
                            }
                        }
                    }
                    .print_btn{margin-left:10px;
                        a{ display:inline-block; width: 20px;height: 21px; background: url(../images/sub_print_btn.png) no-repeat center;vertical-align: middle;}
                    } 
                
                }        
            }     
            // @include maxWidth($tab){width:100%;padding:40px 0 80px;
            //     .sub_top {margin-bottom:30px;padding-bottom:0;border-bottom:0;position:relative;line-height:1.4;
            //         > h2 {font-size:24px;margin-bottom:8px;line-height:33px;}
            //         > ol{float:left;width:100%;}  
            //         .share {margin:0;position:absolute;right:33px;top:0;}          
            //         .print_btn{position:absolute;right:0;top:0;}
            //     } 
            // }     
            @include maxWidth($m720){padding:21px 0 60px;
                .title{ margin-bottom: 20px;
                    span{font-size: 22px;} 
                }
                .sub_top {margin-bottom:20px; height:32px; align-items: center;
                    > h2 {font-size:22px;line-height:30px;}
                    > ol{ @include align(middle,12px);
                        > li{padding-left:18px;background-size:5px auto;line-height:15px;background-position:left 10px center; line-height:16px; height:16px;
                            &:before{left:6px;}         
                            &:first-of-type {
                                img {vertical-align:-1px;width:16.5px;}
                            } 
                        }
                        &.cnt_5{flex-wrap:wrap; align-items: flex-start; height:auto;
                            >li{
                                &:nth-child(1){flex:0 1 auto; margin-left:40%;}
                                &:nth-child(2){flex:0 1 auto; }
                                &:nth-child(3){flex:0 1 auto; }
                                &:nth-child(4){flex:0 1 auto; }
                                &:nth-child(5){flex:0 1 auto; }
                            }
                        }
                    }  
                    .share { /* sns 시작*/
                        button {width:30px;height:30px;border-radius:30px;background-size:30px auto;}
                        ul{right:-15px;top:42px;width:131px;padding:15px;box-shadow:7px 7px 25px 0 rgba(0,0,0,0.12);z-index:2;
                        &:before{position:absolute;right:24px;top:-10px;width:13px;height:11px;background-size:13px auto;}
                        li {margin-left:8px;
                            img {width:27.5px;}
                        }        
                        }          
                    }  
                }     
            }
            

            /* 컨텐츠 부분 상단 탭 네비게이터 */
            .sub_conts_nav{margin:20px 0;
                .sub_conts_navList{@include flex-box((a_margin:2px));
                    .sub_conts_navItem{ 
                        >a{ border:1px solid #e8e8e8;height:60px; text-align:center; color:#252525; background-color:#f6f7f8; }
                        &.active{  
                            >a{color:#fff; background:#476dc3;}
                        }
                        &:hover{font-weight:500;}
                    }
                    &.count5{@include flex-box((flex_val:5,a_margin:2px));}
                    &.count4{@include flex-box((flex_val:4,a_margin:2px));}
                    &.count3{@include flex-box((flex_val:3,a_margin:2px));}
                    &.count2{@include flex-box((flex_val:2,a_margin:2px));}
                }
                /*2024-01-10 강한구 지속가능경영 > 4depth tab메뉴*/
                &.depth_4_tab{margin:12px 0;
                    .sub_conts_navList{
                        .sub_conts_navItem{
                            a{height:40px; line-height: 40px;}}
                    }
                }/*2024-01-10 강한구 지속가능경영 > 4depth tab메뉴 끝*/
            }
            
            >form{
                margin-top:20px;
            }
        }// .contents_sub End 
    }
}

/* 경영공시 */
.yecont{display:none;}
.hclaytit_w{position:relative;color:#383a3d; margin-bottom:15px;margin-top: 20px;}
.hctit{font-size:30px;line-height:30px;font-weight:700;margin-bottom:12px;}
.hcsub{margin-top:3px;font-size:15px;}
.hclay{position:absolute;bottom:0;right:0;font-size:14px;}
.etri{position:relative;top:5px;}

/* 경영공시 테이블 */
.tbl_sty03 table{width:100%;table-layout:fixed;}
.tbl_sty03 table th{font-weight:500 !important;color:#222 !important;}
.tbl_sty03 table thead th{border-top:1px solid #404040;border-bottom:1px solid #404040;padding:9px 10px 10px;font-weight:500;color:#222;text-align:center;}
.tbl_sty03 table tfoot th,
.tbl_sty03 table tfoot td,
.tbl_sty03 table tbody th,
.tbl_sty03 table tbody td{padding:10px 25px;border-bottom:1px solid #d1d1d1;border-right:1px solid #d1d1d1;color:#666;text-align:right;font-size:15px;font-weight:300;letter-spacing:0;}
.tbl_sty03 table td.tdbg{background:#f5f5f5;}
.tbl_sty03 table tfoot th.last, .tbl_sty03 table tbody td.last, .tbl_sty03 table td.last{border-right:0;}
.tbl_sty03 table td.tal{text-align:left;color:#222;}
.tbl_sty03 table strong{font-weight:700;color:#222 !important;}
.tbl_sty03 table tbody tr:nth-child(even){background:#f5f5f5;}
.tbl_sty03 table tbody tr.bg td{background:#f5f5f5;}
.tbl_sty03 table tfoot tr td:first-child,
.tbl_sty03 table tfoot tr th:first-child,
.tbl_sty03 table tbody tr td:first-child,
.tbl_sty03 table tbody tr th:first-child{text-align:left;font-weight:300;}
.tbl_sty03 table tbody tr th.fir{text-align:left;font-weight:300;}
.tbl_sty03 table tbody tr td.fir{text-align:left;font-weight:300;}

.tbl_sty03.type2 table tfoot tr td:first-child,
.tbl_sty03.type2 table tfoot tr th:first-child,
.tbl_sty03.type2 table tbody tr td:first-child,
.tbl_sty03.type2 table tbody tr th:first-child{text-align:center;}
.tbl_sty03.type2 table tfoot th,
.tbl_sty03.type2 table tfoot td,
.tbl_sty03.type2 table tbody th,
.tbl_sty03.type2 table tbody td{text-align:center;}
.tbl_sty03.type2 table tbody tr th.fir{text-align:center;font-weight:300;}
.tbl_sty03.type2 table tbody tr td.fir{text-align:center;font-weight:300;}
.tbl_sty03.type2 table tbody tr td.left{text-align:left !important;}


/* 경영공시 이사회회의록*/
.ndata_ctb{width:100%;table-layout:fixed;}
.ndata_ctb thead th{border-top:1px solid #404040;border-bottom:1px solid #404040;padding:9px 10px 10px;font-weight:500;color:#222;}
.ndata_ctb tbody td,
.ndata_ctb tbody th{padding:10px 10px;border-bottom:1px solid #d1d1d1;border-right:1px solid #d1d1d1;color:#666;text-align:center;font-size:15px;font-weight:300;letter-spacing:0;}
.ndata_ctb td.tdbg,
.ndata_ctb tbody th.tdbg,
.ndata_ctb tbody td.local_bg{background:#f5f5f5;}
.ndata_ctb tbody td.local_bg{font-weight:500;color:#222;border-right:0;text-align:center;}
.ndata_ctb tbody th.tdbg{font-weight:400;text-align:left;}
.ndata_ctb.type2 td{padding:15px;text-align:left; word-break:keep-all !important;}
.ndata_ctb td.last{border-right:0;}
.ndata_ctb td.tal{text-align:left;}
.ndata_ctb td.tar{text-align:right;}
.ndata_ctb td.tac{text-align:center;}
.ndata_ctb tfoot{position:relative;z-index:2;}
.ndata_ctb td strong{font-weight:700;color:#222;}

.ndata_ctb tr.total td{font-weight:500;}
.ndata_ctb tr.total td.fir{}
.ndata_ctb tr.total .linelow{padding:0 !important;height:1px;border:0;position:relative;}
.ndata_ctb tr.total .linelow .line{background:#404040;position:absolute;top:-1px;left:0;width:100%;height:1px;}


/* 지속가능경영보고서 */
.report01{color:#003078;font-weight:500;font-size:24px;line-height:30px;}
.report02{color:#383a3d;font-size:16px;}
.rep_tit{color:#383a3d;font-size:30px;line-height:32px;font-weight:700;margin-bottom:23px;}
.report_list{}
.report_list > li{margin-bottom:30px;}
.report_list > li:last-child{margin-bottom:0;}
.report_item{border-top:1px solid #404040;border-bottom:1px solid #d1d1d1;}
.rep_thum{background:#dcdcdc;width:159px;height:227px;margin:30px 0 0 35px;}
.rep_thum img{border:1px solid #d1d1d1;width:159px;height:227px;margin:-8px 0 0 -8px}
.rep_cell{float:left;}
.rep_cell.repleft{background:#f5f5f5;width:214px;border-right:1px solid #d1d1d1;padding-bottom:20px;}
.rep_cell.repleft .btn_down{margin:15px 0 0 28px}
.rep_cell.repright{width:655px;margin-left:25px;padding-top:25px;}
.rep_cell .repr01{font-size:22px;color:#222222;font-weight:500;margin-bottom:20px;}
.rep_cell .repr02{line-height:25px;}
.rep_ment{margin-top:20px;}



.ybox_w{margin-top:45px;border:1px solid #d5dae0;border-bottom:0;}
.ybox_low{border-bottom:1px solid #d5dae0;padding:20px;}
.ybox_w.type2 .ybox_low{padding:40px;}
.ybox_low.ydlow01{}
.ybox_low.ydlow02{background:#f6f9fb;position:relative;padding:20px 40px;}
.ybox_low.ydlow03{margin-top:23px;padding-bottom:80px;background:url("/down/y_images/ethimg_01.png") no-repeat 100% 100%;}
.ybox_low.ydlow03.type2{background-image:url("/down/y_images/ethimg_02.png");border-bottom:0;}
.ybox_low.ydlow03.type3{background-image:url("/down/y_images/starndimg_01.png");}
.ybox_low.ydlow04{background: #003078 url("/down/y_images/bot_blue.png") no-repeat 50% 0;padding-top:50px !important;border:0;text-align:center;color:#fff;font-size:24px;}
.ybox_low .skyp{color:#5b5f76;font-size:20px;line-height:30px;}
.ybox_low .sky_allow{position:absolute;bottom:-31px;left:50%;width:60px;height:31px;margin:0 0 0 -30px;background:url("/down/y_images/bot_tri.png") no-repeat 0 0;}


.btn_down{color:#fff;background:#5b5f76 url("/down/y_images/ico_down.png") no-repeat 100% 50%;display:inline;display:inline-block;padding:10px 50px 10px 24px;min-width:90px;text-align:left;}
.btn_down:hover{display:inline;display:inline-block;color:#fff;}
.btn_down span{}



.clear_both{clear:both;}


/*지속가능경영 > 고객서비스 > 고객만족영영시스템 > 서비스이행 tab 포토리스트 2024-01-10*/
.details_view_box {
    &.photo_box{
        .photo_list{
          .photo_list_ul{ // 각 사진 목록
            .photo_list_li{
              .tit{ font-weight:600;
                &.bg_blue{padding:6px ; background-color:#dae5ff; height:34px; line-height:22px; font-size:16px;
                  .dot{margin-left:15px;
                    &:before{background-color:#476dc3;}
                  }
                }
                
              }
              //.flex_photo_box
              .flex_photo_box{display: flex; justify-content: space-between; align-items: stretch; padding:10px;
                $photo_w : 226px;
                .photo_img{position:relative; flex:0 0 $photo_w; width:$photo_w; padding-top:$photo_w;
                    img{position:absolute; left:0; top:0; width:100%; height:100%;}
                }
                  // 각 사진에 해당하는 컨텐츠 하위 목록 
                .photo_txt{flex:0 0 calc(100% - 246px);
                    .photo_txt_ul{
                      .photo_txt_li{margin-bottom:8px; display: flex; align-items: start; line-height:24px;
                        .dot{height:24px;}
                        .txt{}
                      }
                    }

                    &.flex_col{display: flex; flex-direction: column;justify-content: flex-start; align-items: start;
                        .tit{margin-bottom:15px;}
                        .btn_photo{margin-top:auto;
                            .btn{padding-left:20px; padding-right:20px;
                            }
                        }
                    }
                    
                }
                @include maxWidth($m720){
                    flex-direction:column; 
                    &.flex_m {flex-direction:row; align-items: start;
                        .photo_img{flex:0 0 40%; height:0; width:40%; padding-top:54%; align-self:start}
                        .photo_txt{flex: 0 0 calc(100% - 150px); margin-left:20px;
                            .flex_col{
                                .tit{margin-bottom:10px;}
                            }
                        }
                    }
                    .photo_img{align-self: center;}
                  }
                }
                
            }
          }
        }
       }
}
